[2018-08-16 22:40] jaxxstorm opened #16 "Unable to scan cluster"
My cluster isn't accessible externally, I've tried both the cidr and remote option, but the cluster nevers gets detected. It seems to be because of the use of the azurespeed.com website as part of the scan:

[code]

[2018-08-17 05:05] bgeesaman opened #17 "Potential False Positive - Kubelet Read/Write API"
First of all, excellent app!  Love seeing these kinds of tools.  One thing stuck out on my first go-round.  Did a scan of a stock GKE cluster (1.10.x), and the report indicated a "High" risk "Remote Code Execution" via the Kubelet Read/Write API (port 10250).  The Kubelet's API is indeed available, but manual validation indicates the API properly disallows the request:

[code]

[2018-08-17 10:50] lizrice commented on #16
I don't think it's the azurespeed.com check; that gets ignored if there is no information about that IP address. (This tells us whether the cluster is hosted on Azure; if it is, we have some additional tests to see if it's possible to get to the cloud metadata. One day we should add similar tests for other providers).

Given an IP address, kube-hunter will attempt to open a socket to the following

[2018-08-17 10:56] lizrice commented on #17
Thanks @bgeesaman ! Could you send me the exact line from the report? There are a few tests that output similar messages and I want to make sure I'm looking at the right one.

[2018-08-17 14:02] jaxxstorm commented on #16
Ah yes, our API server runs on port 6443:

[code]

This is the kubeadm default as per here: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[code]

That's probably the issue

[2018-08-17 14:02] jaxxstorm commented on #16
It'd also be worth having some of this issue in the debug logs?

[2018-08-17 14:48] lizrice commented on #16
Port 6443 also covered now (and I agree with you on the log info). Does it find the cluster now?

[2018-08-17 15:08] jaxxstorm commented on #16
Unfortunately not, it does seem to scan that port now:
[code]

We firewall off all the other ports, what is the bare minimum for a cluster to be discovered?

[2018-08-17 15:13] jaxxstorm commented on #16
Ah, figured it out, PR incoming

[2018-08-18 18:39] #16 closed

[2018-08-21 08:05] lizrice opened #26 "Automated builds & testing"
Should have at least some basic sanity tests and an integration with Travis

[2018-08-21 08:56] lizrice opened #28 "Mode selection can be shown in the wrong order"
Possible to see this:
[code]
where the menu items appear in the "wrong" order (not the order that the subsequent code relies on). Dictionaries don't have a defined order so we shouldn't rely on the order of entries in it.

[2018-08-21 08:58] #28 closed

[2018-08-21 12:14] #26 closed

[2018-08-21 13:22] ramshazar opened #31 "Link to EULA for Docker containers"
Hi,

if you really want to use uploaded reports from the docker container version it may be a good idea to link to the EULA in the readme of this repository.

Link: https://kube-hunter.aquasec.com/eula.html

Kind regards,
Matthias

[2018-08-21 13:30] #31 closed

[2018-08-21 13:30] lizrice commented on #31
Good idea, thank you @ramshazar

[2018-08-22 20:30] bgeesaman commented on #17
I dove into the code a little bit, and I might know why: https://github.com/aquasecurity/kube-hunter/blob/c10235f7478386796ef4901fb5f6710729598f78/src/modules/hunting/kubelet.py#L202 expects a `404` to know that it didn't succeed, but the kubelet is returning a `401 Unauthorized`.

[2018-08-23 08:54] lizrice commented on #17
I went for explicitly checking for 401 or 404 (thinking it's slightly easier to understand what the check means). Hopefully this resolves it but of course please reopen if it's still problematic. Thanks for your help with this @bgeesaman!

[2018-08-27 08:00] rtoma opened #35 "Final hook is hanging"
Hi,

Thanks for the tool!

When running aquasec/kube-hunter with `--pod` and `--log=info` inside of a GKE cluster  I get this output:

[code]

It eventually stops with `Kube Hunter couldn't find any clusters` (\o/ us), but I am wondering what if the manuf db was available for scapy (?). Maybe something to look into.

[2018-08-27 11:34] joerocklin commented on #17
I was also seeing these errors and went looking for why my cluster was reported as allowing unauthorized runs. I get a back a 403 error instead of a 401 or 404. Perhaps any 4XX errors should be allowed?

This is a 1.10.4 cluster built with kubeadm on AWS. I'm happy to share any configuration information if needed.

[2018-08-31 02:22] yagonobre opened #36 "Update docker image"
Hi, thanks for the tool!

Please update the docker image, the current version has outdated code that report false positive `Exposed Run Inside Container` that was fixed on https://github.com/aquasecurity/kube-hunter/pull/33

Also have tagged images would be nice.

[2018-08-31 07:35] nlamirault opened #37 "ARM support ?"
Hi,
i would like to test kube-hunter on my ARM Kubernetes cluster using the Docker container.
I've got this error :

[code]
I think it could comes from :
[code]

Do you plan to support multiarch ?

[2018-08-31 15:30] lizrice commented on #17
Sounds like I should have made it broader after all!

[2018-09-01 13:03] ramshazar opened #38 "git clone from Readme does not work"
The git clone in the readme does not work.
https://github.com/aquasecurity/kube-hunter/blame/master/README.md#L75

`git clone git@github.com:aquasecurity/kube-hunter.git thiswillnotwork
Cloning into 'thiswillnotwork'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.`

git clone via https w

[2018-09-02 15:40] jerbia commented on #36
Hi @yagonobre. Thanks for the feedback.
I've manually built the image with the new master code, so you can try it now.

In addition - we will add automatic build in the next few days.

[2018-09-02 17:02] lizrice commented on #36
Apologies, I forgot to rebuild after #33!

On Sun, 2 Sep 2018 at 16:40, jerbia <notifications@github.com> wrote:

--
Liz Rice
lizrice.com | +44 (0) 780 126 1145 | skype lizrice

[2018-09-03 13:59] yagonobre commented on #36
@jerbia and @lizrice thanks 😄

[2018-09-03 13:59] #36 closed

[2018-09-04 09:39] WesleyCharlesBlake commented on #38
I dont think this is an issue with the project , but more your git config,

[code]

I can clone just fine. The reason that git-ssh wont work for you is because you are probably missing your SSH keys configured to your GitHub account.

The ]GitHub ssh](https://help.github.com/articles/set-up-git/) setup mentions testing your GitHub connection with:
[code]

[2018-09-05 21:19] degilq opened #40 "kube hunter error"
over k8s we have this error:  **Cannot read wireshark manuf database**

[2018-09-06 07:12] lizrice commented on #40
This is a benign warning to do with loading the scapy library. It would be better if we can find a way to stop it issuing this warning, but for now, please be assured this doesn't have any effect on the way kube-hunter actually runs.

[2018-09-06 07:14] lizrice commented on #38
Thanks @WesleyCharlesBlake! I'm closing this one as those instructions should resolve the problem.

[2018-09-06 07:14] #38 closed

[2018-09-06 07:16] lizrice commented on #35
This is a benign warning issued by scapy and doesn't affect the behaviour of kube-hunter, but it would be better if we could find a way for it to be avoided.

[2018-09-06 07:17] lizrice commented on #40
Closing as duplicate of #35

[2018-09-06 07:17] #40 closed

[2018-09-06 07:19] lizrice commented on #37
We could certainly look into this if there is demand. For now you could run the tests from the source code - the only difference is that it won't report the results back to the website and you won't have the pretty report.

[2018-09-06 13:14] nlamirault opened #41 "Support Python 3"
I try kube-hunter using a virtualenv in Python 3 :

[code]

[2018-09-06 15:05] janiko71 commented on #41
kube-hunter seems to be a Python 2.7 program. But a pull request for a Python 3 support may be useful.

[2018-09-11 14:52] pkelleratwork opened #43 "Permission denied when cloning repo"
[code]

[2018-09-11 15:50] lizrice commented on #43
This is a problem with your git setup - see issue #38 for resolution

[2018-09-11 21:32] Joeyn414 commented on #35
I dont get that much output I'm currently only seeing this:
`~ Started
~ Discovering Open Kubernetes Services...
Cannot read wireshark manuf database`

I did not modify the job.yaml file at all when running it as a job in kubernetes. It just sits there and doesnt do anything else. You state its a benign error but it doesnt move on past this. What can I do to fix whatever is wrong with my setup?

[2018-09-12 16:10] pkelleratwork commented on #43
thank you @lizrice

[2018-09-12 16:10] #43 closed

[2018-09-14 19:40] JPLachance commented on #35
Hello,

I just tried to deploy the latest version of the kube-hunter job in an AWS EKS cluster and I'm seeing the same behavior described here. In the pod logs, I see:
[code]
Then nothing else happens.

I tried to deploy the same job in a Kubernetes cluster deployed by KOPS and it worked perfectly.

Maybe GKE and EKS are blocking kube-hunter?

[2018-09-16 12:00] lizrice commented on #35
Thank you @JPLachance, we will check that out, it's a good thought. My immediate thought is wondering if it's something to do with security groups that don't allow traffic on these ports.

@joeyn414 @rtoma what are your environments?  I think the log itself is a red herring but that the idea that something blocks kube-hunter is very plausible.

[2018-09-16 14:52] Joeyn414 commented on #35
I'm running it in EKS.

On Sun, Sep 16, 2018, 08:00 Liz Rice <notifications@github.com> wrote:

[2018-09-19 20:06] vslepakov opened #44 "Kube Hunter couldn't find any clusters on AKS"
Hi,

I am trying to run kube-hunter on AKS as a Pod unfortunately it does not work:

`kubectl logs kube-hunter-jbjxs
~ Started
~ Discovering Open Kubernetes Services...

----------

Kube Hunter couldn't find any clusters`

AKS is RBAC enabled can this cause a issue?

[2018-09-20 15:44] HaveFun83 commented on #44
We see the same issue on a bare-metal cluster.

[2018-09-23 09:39] lizrice opened #45 "GKE and EKS tests for metadata API access"
We have a hunter for metadata acces on Azure, we should add the equivalents for Google and AWS

[2018-09-23 09:40] lizrice opened #46 "ectd hunter"
We should add a hunter looking for etcd access, and for checking whether etcd data is encrypted

[2018-09-24 18:35] lizrice opened #47 "More logs to show test progress"
At the moment it's hard to tell which hunters were run. It would be good if there were a log for each hunter that's triggered to indicate what it's attempting, and whether it succeeded or failed.

[2018-10-02 09:37] desaintmartin opened #48 "Create a simple helm chart"
Hey,
I've been using kube-hunter for some time now, and I thought a helm chart was handy although very simple to do.

Here is the PR if you are interested: https://github.com/helm/charts/pull/8031

[2018-10-03 15:02] venegator commented on #44
Same issue here on a AKS cluster. RBAC enabled.

[2018-10-08 11:14] lizrice commented on #48
Thank you so much for this! I see the helm chart has been merged already :-)

[2018-10-08 11:14] #48 closed

[2018-10-09 15:33] desaintmartin commented on #48
You're welcome, it's my way to reward FLOSS. :)

Since it is your software, feel free to create a PR to add yourself in OWNERS and Chart.yaml there!

[2018-10-10 10:01] lizrice commented on #48
That's a good idea! PR just created

On Tue, Oct 9, 2018 at 4:33 PM Cédric de Saint Martin <
notifications@github.com> wrote:

--
Liz Rice
@lizrice  | lizrice.com | +44 (0) 780 126 1145

[2018-10-11 03:37] ezlee commented on #44
Did you get same results when you change the args: ["--pod"] in job.ymal to args: ["--internal"]?

[2018-10-11 14:16] venegator commented on #44
Seems like it works now. Thank you so much.

[2018-10-15 15:08] ThormaehlenFred opened #56 "issue with local usage of ./kube-hunter.py"
Today I cloned [kube-hunter](https://github.com/aquasecurity/kube-hunter.git) to:

1. an Ubuntu VM
2. the local Windows Bash on Ubuntu (Linux Subsystem on Windows)
3. on local Windows

On the two Ubuntu vms (1 and 2) running ./kube-hunter.py --list returns the following error:
[code]
In Windows cmd (3) running ./kube-hunter.py --list returns the following error:
[code]
Running kube-hunter in a [po

[2018-10-17 17:37] lizrice commented on #47
fixed with #50

[2018-10-17 17:37] #47 closed

[2018-10-17 17:38] lizrice commented on #46
etcd access covered by #52

[2018-10-19 15:55] PaigingAlyssa opened #59 "Running kube-hunter with istio?"
I am attempting to run this inside the default namespace with istio auto-inejection enabled. It is unable to discover anything, has anyone had any success running this alongside istio? I am experimenting with running in a different namespace with auto injection turned off at the moment.

[2018-10-23 14:53] #59 closed

[2018-10-23 20:10] leszekbulawa commented on #56
It looks like dependencies are not installed. Are you sure you did `pip install -r requirements.txt`?
Running it in a pod goes fine because requirements are already installed on the docker image.

[2018-10-24 09:55] leszekbulawa commented on #56
You might want to consider using virtualenv. It gives nice isolation. Cheers!

[2018-11-15 23:09] lmeyemezu opened #61 "Kube Hunter couldn't find any clusters"
Hi,
trying to launch ./kube-hunter.py --active on k8s installed on-prem with kubeadm.
got
|
| API Server:
|   type: open service
|   service: API Server
|_  host: 198.18.240.90:443
Passive hunter is attempting to get server certificate
|
| API Server:
|   type: open service
|   service: API Server
|_  host: 198.18.240.86:443
Incorrect padding
Reachable port found: 443
Event <class 'src.core.events

[2018-11-16 18:12] handbrianc commented on #37
+1 for this request.  It would be nice to be able to run this for raspberry pi's

Building from source on a raspberry pi has been problematic for me.  I have been getting errors on not being able to open threads when trying to run the code.  I am certain it is most likely my setup but it would be nice not to have fight through these types of issues to get meaningful value out of the software for t

[2018-11-18 03:13] lizrice commented on #61
Thanks for raising. Just noting that the incorrect padding error may well come from base64 decoding. Needs investigation

[2018-11-26 15:29] lmeyemezu commented on #61
Hi @lizrice
Any update ?
Regards

[2018-12-05 08:07] hypery2k commented on #61
experencing the same error. sometimes getting the same error, but only in same cases. In most of the run it just works

[2018-12-05 08:07] hypery2k opened #64 "Show vulnerability id"
is it possible to show the concrete CVE record, e.g

[2018-12-13 07:04] kiranp227 opened #70 "Vulnerabilities not shown in dashboard"
@![screen shot 2018-12-13 at 11 49 15 am](https://user-images.githubusercontent.com/20418164/49921296-1f363180-fed3-11e8-8575-c5d1c1dee344.png)

When I scan with kube-hunter, It is identifying some vulnerabilities. But the vulnerabilities are not shown in the dashboard.

![screen shot 2018-12-13 at 12 35 53 pm](https://user-images.githubusercontent.com/20418164/49921507-b69b8480-fed3-11e8-9f89-a96

[2018-12-13 08:39] oriagmon commented on #70
Hey, thank you for opening the issue.

The problem applies only to the new CVE Hunter, We are already aware of
that, and hope to handle it soon.

On Thu, Dec 13, 2018, 09:04 kiranp227 <notifications@github.com wrote:

[2018-12-18 09:10] jimmyjones2 opened #71 "etcd 3 support"
Thanks for the great tool!

I tried it on a 3.7 cluster and it found etcd was open (v2 API) however it couldn't write. I tried the v3 API (v3beta using the [https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_grpc_gateway.md](gRPC gateway)) and found I could read and write! Could you add support for probing the v3 APIs too please?

[2019-01-04 18:35] carnal0wnage opened #75 "also identify open cAdvisor"
It would be nice if kube-hunter also identified open cAdvisor

http://192.168.41.233:4194/api/v2.0/spec?recursive=true

[2019-01-07 11:37] oriagmon commented on #75
Hey, that's a great idea and we actually planning to add such hunter!

[2019-01-18 09:16] swade1987 opened #78 "Have a toggle to make logs machine readable"
Have an environment or argument to allow logs to be printed to STDOUT in machine-readable format. This makes ingesting job output into Elasticsearch or other log aggregators

[2019-01-18 09:16] swade1987 opened #79 "Provide metrics endpoint"
Provide an endpoint which Prometheus can scrape to allow real-time alerting of potential vulnerabilities.

[2019-01-18 10:28] MansM opened #80 "kube-hunter endless loop"
When running against an openshift 3.11 install it hangs
git commit id: 8d367d1aa0afe4ea0e46cf23112de2971f398dc4
Python: 2.7.15/MacOS
[code]

[2019-01-24 01:31] pezzivic opened #83 "Error when running kube-hunter.py"
pez$ ./kube-hunter.py --cidr 192.168.70.143 --mapping
Traceback (most recent call last):
  File "./kube-hunter.py", line 36, in <module>
    from src.modules.report.plain import PlainReporter
  File "/Users/pez/src/github.com/kube-hunter/src/__init__.py", line 1, in <module>
    import core
  File "/Users/pez/src/github.com/kube-hunter/src/core/__init__.py", line 1, in <module>
    import types

[2019-01-24 11:36] lizrice commented on #83
Looks like you're missing the dependencies - you need to run `pip install -r requirements.txt`

[2019-01-24 16:14] pezzivic commented on #83
I ran it before I attempted to use kube-hunter. Now, if I run it again I get:
 pez$ pip install -r requirements.txt --user
Requirement already satisfied: netaddr in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (0.7.19)
Requirement already satisfied: netifaces in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site

[2019-01-24 18:23] lizrice commented on #83
It looks like your pip is installing Python 3 versions of the dependencies
(the path where each requirement can be found includes "python3.6") but
your python executable is 2.7
On Thu, 24 Jan 2019 at 16:14, pez zivic <notifications@github.com> wrote:

--
Liz Rice
@lizrice  | lizrice.com | +44 (0) 780 126 1145

[2019-01-24 19:19] pezzivic commented on #83
Thank you Liz. I do not know what I was looking at. Anyway, I did this
ez$ pip2 install -r requirements.txt
Collecting netaddr (from -r requirements.txt (line 1))
  Could not fetch URL https://pypi.python.org/simple/netaddr/: There was a problem confirming the ssl certificate: [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:661) - skipping
  Could not find a version that s

[2019-01-24 23:38] danielsagi commented on #83
Try running:

if that doesn't work,
try running:

to install netaddr without the ssl error

[2019-02-02 22:43] alisondy opened #84 "Confusing license terms"
on the website is says https://kube-hunter.aquasec.com/
[code]
on the github it says
[code]
🤷‍♀️ if someone could explain how this works to me I would really appreciate it

[2019-02-15 12:30] #84 closed

[2019-02-15 12:32] lizrice commented on #83
I'd like to close this as it's to do with installing requirements rather than an issue with cube-hunter

[2019-02-15 12:32] #83 closed

[2019-02-15 12:39] lizrice commented on #64
I don't think all vulnerabilities will have a CVE (for example, if you configure Kubernetes with anonymous access and RBAC wide open, the cluster is vulnerable to attack but not because of a software vulnerability. But I agree we should report CVE numbers where they are available.

[2019-02-15 12:40] #46 closed

[2019-02-15 12:42] lizrice commented on #41
We really need to support Python 3

[2019-02-18 15:27] ttousai commented on #80
@MansM please verify that the following modules are installed then try the command again:
`pip install prettytable ruamel.yaml netaddr netifaces`

If the suggestion above does not apply or does not work, try running the kube-hunter docker image.
`docker run aquasec/kube-hunter--remote masters.sanitized.tld infra.sanitized.tld node1.sanitized.tld --log debug | tee output.log`

If both options fail

[2019-02-19 16:49] strigazi opened #91 "Question about access_api_server test"
Is [0] a vulnerability? If you have anonymous enabled in the api you can see [2] as well as version and healthz. Only when you try to access namespaced objects as anonymous and you have access it makes sense to mark as vulnerable.

What others think?

This design document tries to have stricter defaults [1].

[0] https://github.com/aquasecurity/kube-hunter/blob/master/src/modules/hunting/apiserver

[2019-02-20 08:11] strigazi commented on #91
@oriagmon thoughts? You seem to be the author of this test.

[2019-02-20 11:27] lizrice commented on #91
I think the way we should approach this is that kube-hunter explores what information is available from various endpoints, and shows that to the user. It is really up to the user to decide whether this is a risk or not. As an example, the CIS benchmark has long recommended turning off anonymous-auth access altogether on the API server, although many considered this overkill as it prevented anonymo

[2019-02-20 12:45] strigazi commented on #91
Thanks for the reply @lizrice . That makes total sense.

The way the information is presented to the user though, is a little scary [0].
It is not clear that this is only discovery information that can help create
an attack, an attack though might not be possible.

[0]
[code]
[1]
[code]

[2019-02-20 12:45] #91 closed

[2019-02-20 14:55] lizrice commented on #80
I think I have reproduced this, and at least in my case it's never returning from the [call](https://github.com/aquasecurity/kube-hunter/blob/9ea7ffcbef1cc377903555f56677f5dae782f211/src/modules/discovery/hosts.py#L105) to srp1(). Working on it.

[2019-02-21 12:09] lizrice commented on #78
@swade1987 does #92 give you what you need for this?

[2019-02-21 12:16] swade1987 commented on #78
@lizrice looks good does @maniish-jaiin have an output to view?

[2019-02-21 12:22] maniish-jaiin commented on #78
<img width="670" alt="screenshot 2019-02-21 at 13 22 27" src="https://user-images.githubusercontent.com/19270238/53168785-c32b1000-35db-11e9-99cb-84df486d6a08.png">

[2019-02-21 12:24] maniish-jaiin commented on #78
The data is confidential and I can share with you the output for the same. But its verifies and it outputs one liner json.

[2019-02-21 12:26] swade1987 commented on #78
So would the output to STDOUT by one massive JSON blob?

[2019-02-21 12:27] maniish-jaiin commented on #78
Yes!

[2019-02-21 12:29] maniish-jaiin commented on #78
Its tested with the Datadog ingest and it works fine there, as the plain text and the yaml can't be consumed by the Datadog, and I guess that would be the case with the other platforms as well.

[2019-02-21 12:41] swade1987 commented on #78
We will be consuming via Fluentbit into Elasticsearch.

[2019-02-24 20:34] davidkarlsen commented on #61
no paddng problem - but can't find any cluster here either:
[code]

Using this chart: https://github.com/helm/charts/tree/master/stable/kube-hunter

[2019-03-01 09:14] MansM commented on #80
Will check with latest version of the image today

[2019-03-04 10:41] lizrice opened #98 "Use token we previously obtained"
in hunting/cvehunter.py we get the service account token again, but we should be able to reuse the one we obtained in discover/hosts.py

[2019-03-04 12:01] lizrice opened #99 "No location shown for some Access Risk vulnerabilities"
Example:
[code]

[2019-03-04 12:02] mcherny commented on #99
@lizrice Those are actually 'local' to "pod" vulnerabilities. What would you expect there?

[2019-03-04 15:38] lizrice opened #102 "Generate tagged releases and push to Docker Hub"
We need a process for tagging releases and pushing them as new images to Docker Hub (as we do for kube-bench)

[2019-03-04 15:39] lizrice commented on #80
@MansM Could you try running from source code? We need to generate a new Docker image - I just realised #102 (sadface)

[2019-03-04 17:04] lizrice commented on #99
We could at least say something like “within pod”...but ideally something to identify which pod. If you had several kube-hunter jobs to try out different service accounts, you might want to know which one(s) had been problematic.

[2019-03-05 09:40] lizrice commented on #78
@swade1987 I'll close this now, but please do re-open if you don't have what you need

[2019-03-05 09:40] #78 closed

[2019-03-05 12:29] #41 closed

[2019-03-05 14:09] nlamirault commented on #41
Great !

[2019-03-06 12:22] westonsteimel opened #103 "Update docker image"
As a follow-up to #41, the docker image should at some point be updated to use some version of python 3.  Also, alpine3.9 has been released.  So the following questions arise

* Which version of python3 should be used in the docker image?
* should alpine be updated from 3.8 to 3.9?

For my testing of the python3 changes, I used a docker image with `python:3.7.2-alpine3.9`, so I'm fairly confident

[2019-03-06 20:39] lizrice commented on #103
All great points, thanks @westonsteimel!

I'm a believer in using up-to-date code unless there's a contra-indication, so I think we should
* Update travis to run both 3.6 and 3.7
* Use the same base image as you did `python:3.7.2-alpine3.9`, since we know from your testing it works

I've added "3.x" in the README for now

[2019-03-07 09:31] ImPurshu commented on #61
~ Started
~ Discovering Open Kubernetes Services...
|
| Accessed to pod's secrets:
|   type: vulnerability
|   host: None:None
|   description:
|     Accessing the pod's secrets within a
|     compromised pod might disclose valuable data to a
|_    potential attacker
Cannot read wireshark manuf database

Same error I am facing.
Any idea?

[2019-03-07 09:33] ImPurshu commented on #35
~ Started
~ Discovering Open Kubernetes Services...
|
| Accessed to pod's secrets:
|   type: vulnerability
|   host: None:None
|   description:
|     Accessing the pod's secrets within a
|     compromised pod might disclose valuable data to a
|_    potential attacker
Cannot read wireshark manuf database

Same error I am facing on EKS.
Any idea?

[2019-03-13 13:10] #103 closed

[2019-03-18 16:16] goffinf opened #107 "Azure Cloud Checks - Make Optional"
I note that there is a check whether the cluster is deployed into Azure Cloud .. see below.

I don't have a problem with that per se except that in a corporate environment I don't want to request a proxy whitelist exception with my CISO for an endpoint that we have no use for (http://www.azurespeed.com). Moreover, whilst this test will eventually timeout and the checks resume, it delays the proces

[2019-03-18 17:48] #98 closed

[2019-03-18 17:53] #99 closed

[2019-03-21 16:24] goffinf opened #108 "--report and --log anomolies"
**Behaviour:**

Depending on the options set either output appears or not.

**Configuration:**

Running as a K8s Job.

This **DOES** produce output ... note I have -**-log set to NONE and --report to JSON** ...

[code]

This does **NOT** produce output ... same as above .. just changed **--report to PLAIN**

[code]

This **DOES** produce output ... just changed **--log to INFO**

[code]

I haven't

[2019-03-25 01:27] jayunit100 commented on #61
same here, `kubectl create -f job.yml`, then the logs:

[code]

[2019-03-25 10:56] jvaibhav123 opened #109 "Kube hunter running as Job with args --report=json not working"
Dear Team,

I was trying to run the kube hunter job in k8s with option
        command: ["python", "kube-hunter.py"]
        args: ["--internal","--report=json"]
However the logs are not coming in json format. I would like to send the logs to elastic search and further integrate with monitoring system in order to generate alerts.

I am not sure if i am doing something wrong while specifying the ar

[2019-03-27 07:36] aakarshit-batchu commented on #61
Hi Guys,
Facing the same issue here with kube-hunter pod batch job.

`~ Started
~ Discovering Open Kubernetes Services...
|
| Read access to pod's service account token:
|   type: vulnerability
|   host: None:None
|   description:
|     Accessing the pod service account token
|     gives an attacker the option to use the
|_    server API
|
| Access to pod's secrets:
|   type: vulnerability
|   hos

[2019-03-27 07:38] aakarshit-batchu commented on #35
Hi,
Facing the same issue with kube-hunter pod.

~ Started
~ Discovering Open Kubernetes Services...
|
| Read access to pod's service account token:
|   type: vulnerability
|   host: None:None
|   description:
|     Accessing the pod service account token
|     gives an attacker the option to use the
|_    server API
|
| Access to pod's secrets:
|   type: vulnerability
|   host: None:None
|   desc

[2019-03-27 09:38] 7x4uk4 opened #110 "run error"
requests.exceptions.SSLError: HTTPSConnectionPool(host='1.1.1.1', port=10255): Max retries exceeded with url: /exec/xxxx/xxxxx/kube-flannel?input=1&output=1&tty=1&command=ls&command=%2Ftmp (Caused by SSLError(SSLError(1, '[SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:1056)')))

[2019-03-27 09:39] #110 closed

[2019-03-27 10:24] Richahasija commented on #61
i Guys,
Facing the same issue here with kube-hunter remote scanning

~ Started
~ Discovering Open Kubernetes Services...

Kube Hunter couldn't find any clusters

----------

[2019-03-27 12:33] aakarshit-batchu commented on #109
Hi Team,

I am also facing same issue exactly as @jvaibhav123 has specified. Neither the json, nor yaml types are working for the report.
Can you kindly help us with that?
Thanks in advance.

[2019-03-27 12:43] aakarshit-batchu opened #111 "Evidence field truncated in the Vulnerability table"
Hi Team,

The report generated in the logs has a vulnerability table. The Evidence field in the table is truncated, and so we are not able to find the root cause of that vulnerability.

_Below is the image and report file of the issue:_
[kube-hunter-uklab-18-report.log](https://github.com/aquasecurity/kube-hunter/files/3013130/kube-hunter-uklab-18-report.log)

![truncated](https://user-images.gith

[2019-03-27 13:15] yoavrotems commented on #109
Hey when I run the same command as you i get the output in json, could you maybe add the output you get?

[2019-03-27 15:02] yoavrotems commented on #111
Hey, you can use the --report=json flag and get the full value there, for example:
<img width="534" alt="Capture" src="https://user-images.githubusercontent.com/12915002/55086745-958d2700-50b1-11e9-972f-f0ea971f1225.PNG">
As you can see the evidence part ("Pod: kube...") is truncated.
But in the json output:

The json field evidence is full.

[2019-03-28 05:18] aakarshit-batchu commented on #111
Hi @yoavrotems ,

I ran the kube-hunter using the pod method. Below is the yaml file that i am using:

`
apiVersion: batch/v1
kind: Job
metadata:
  name: kube-hunter
spec:
  template:
    spec:
      containers:
      - name: kube-hunter
        image: aquasec/kube-hunter
        command: ["python", "kube-hunter.py"]
        args: ["--pod","--cidr=10.233.64.0/18","--report=json"]
      restartPoli

[2019-03-28 11:10] yoavrotems commented on #111
Are you using our latest kube-hunter version?

[2019-03-29 05:38] aakarshit-batchu commented on #111
yes @yoavrotems , I am running a kubernetes job with image aquasec/kube-hunter, so it should be pulling latest image from docker hub.

[2019-03-29 05:39] aakarshit-batchu commented on #111
@yoavrotems --report=yaml is working, but --report=json is not working with that image.

[2019-03-29 08:48] jvaibhav123 commented on #109
@yoavrotems I used the job.yaml provided in github with option in args like args: ["--internal","--report=json"]

apiVersion: batch/v1
kind: Job
metadata:
  name: kube-hunter
spec:
  template:
    spec:
      containers:
      - name: kube-hunter
        image: aquasec/kube-hunter
        command: ["python", "kube-hunter.py"]
        args: ["--internal" ,"report=json"]
      restartPolicy: Never

[2019-03-30 07:34] lizrice opened #112 "Automated image build is not working"
The job that builds an image and pushes it to Docker Hub is currently failing (due to a high severity vulnerability in one of the dependencies)

[2019-04-01 15:26] Richahasija opened #113 "Report output to a file"
How can i log output of command ./kube-hunter.py --remote some.node.com to a file?

[2019-04-02 00:45] dylancaponi commented on #35
Same issue on EKS after running `kubectl create pod.yaml`

[code]

[2019-04-02 09:02] jvaibhav123 commented on #109
@yoavrotems Just wanted to check if get chance to look at above issue?

[2019-04-02 10:00] yoavrotems commented on #109
Yes i'm on it, didnt figure it out yet

[2019-04-03 20:54] lizrice commented on #109
I have the beginnings of a theory... Can you check whether you have a `src/modules/report/json.pyc`  file? There was a brief period where `json.py` existed, but it messes up the import for the standard json library and the file was renamed to `json_reporter.py`.

Even if this turns out to be a red herring, I think this and #108 are the same thing.

[2019-04-04 11:34] jgsqware commented on #44
@oriagmon I just got this also

[2019-04-04 11:35] jgsqware commented on #113
This should work if you're on linux or mac

[code]

[2019-04-04 11:37] jgsqware commented on #61
What is the correct format kube-hunter is expecting?

[2019-04-04 13:05] Richahasija commented on #113
Thanks Julien. I am using Linux but apparently this is not working.. Any other recommendations?

[2019-04-11 17:54] lizrice commented on #112
This is the issue about the vulnerability: https://github.com/boto/botocore/issues/1703

[2019-04-11 17:59] lizrice commented on #112
@yoavrotems do we use this extensively? I'm wondering if it's possible to remove the dependency - would we have to lose some functionality to do that?

[2019-04-14 10:54] yoavrotems commented on #112
We don't use it, it just comes with the botocore

[2019-04-16 11:13] aryak93 commented on #35
Any update on this? We are also facing the same issue.

[2019-04-18 06:05] jvaibhav123 commented on #109
Just wanted to check if you get chance to look at the issue.

[2019-05-14 10:58] lizrice opened #118 "Fix severity information"
Currently the severity is mapped from the category. Severity should relate to the specific vulnerability / exposure.

[2019-05-14 17:53] lizrice opened #120 "Hunter statistics look misleading"
What do the Hunter event counts mean to a user? For example, a non-zero count against Certificate Email Hunting doesn't mean that any email addresses have been found in certificates, just that the hunter was triggered... Please can you explain the intention here @nshauli?

cc @jerbia

[2019-05-17 20:04] westonsteimel opened #122 "Suggested optimisations for Docker image"
I believe it should be possible to reduce the final docker image layer for kube-hunter.

The `build-base` package is only needed for pip to build dependencies against musl, but then isn't actually needed at runtime.  ~~Also, `tcpdump` and `wireguard` were added in https://github.com/aquasecurity/kube-hunter/commit/de1508dfc78103bf6a60090547d0bd04579e1c63 in order to appease `scapy`, but this seems

[2019-05-18 09:00] westonsteimel commented on #122
I guess when you run with --pod you get `Cannot read wireshark manuf database` so maybe just remove `build-base` then

[2019-05-18 18:58] godaji opened #124 "ignore hook exceptions in handler"
Hi, I'm kube-hunter newbie and thank you for this awesome project.

When I execute kube-hunter.py, some hunting is skipped without error message.

[code]

I think skipping hunting is important event. Can you give more detail info if hook throw exception? In my case, get_api_server_version_end_point (in cvehunter.py) throw exception and skipped cvehunter.execute.

[2019-05-22 05:42] anjaligau commented on #61
Any update on this bug , i want to run kube hunter in my cluster.

[2019-05-23 09:51] dschunack opened #126 "enum module not in requirements.txt"
Hi,

please add enum to the requirements.txt file, it's needed but not in the file.

Ubuntu 16.04 with Python 2.7.12

./kube-hunter.py
Traceback (most recent call last):
  File "./kube-hunter.py", line 37, in <module>
    from src.modules.report.plain import PlainReporter
  File "/home/uidv7979/Dokumente/kube-hunter/src/__init__.py", line 2, in <module>
    from . import modules
  File "/home/uidv

[2019-05-23 11:02] DrMurx opened #127 "Insecure Azure Cloud IP detection"
To detect whether the IP is in a known public cloud, kube-hunter performs a query to `http://www.azurespeed.com` using an insecure http connection. Given that kube-hunter is supposed to increase cluster security, leaking out internal IP data seems to counter that purpose.

Requests to such an external service should be secure and optional. #107 already suggests to make the check optional to reduce

[2019-05-31 09:16] DrMurx commented on #127
The project which backs the azurespeed site contains the configuration used for the API call.

Check [PublicIPs.xml](https://github.com/blrchen/AzureSpeed/blob/master/src/AzureSpeed.Web.App/Data/IpRangeFiles/Azure/PublicIPs.xml), maybe it can be embedded into kube-hunter?

[2019-06-03 17:45] #126 closed

[2019-06-11 08:47] sachsachdeva commented on #61
Facing the same Issue, I tried this on the AKS cluster today

~ Started
~ Discovering Open Kubernetes Services...
|
| Accessed to pod's secrets:
|   type: vulnerability
|   host: None:None
|   description:
|     Accessing the pod's secrets within a
|     compromised pod might disclose valuable data to a
|_    potential attacker

----------

[2019-06-12 03:24] gramidt commented on #35
@aryak93 @dylancaponi - I will setup an EKS cluster this week and see if I can reproduce what you are both seeing.

[2019-06-12 03:32] gramidt commented on #45
@lizrice I would love to create the corresponding hunters for GCP and AWS! I will likely start with the AWS then move onto GCP. Any thoughts or recommendations you have before I get started?

[2019-06-12 18:11] danielsagi opened #138 "Possible unnecessary raw socket opening"
https://github.com/aquasecurity/kube-hunter/blob/e04e84cc16dd9d919e45f6dfd6c9854a96d449d8/src/modules/discovery/hosts.py#L120

[2019-06-13 12:44] lizrice commented on #45
That would be great! Thank you @gramidt. I don’t have any particular thoughts other than the docs for these metadata services:
- [EC2 metata](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html) looks straightfoward.
- On GCP the [advice for protecting metadata](https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata) includes info on some lega

[2019-06-14 10:38] jvaibhav123 commented on #109
Just wanted to check if you get chance to look at the issue?

[2019-06-14 15:25] gramidt commented on #45
Thanks, @lizrice! I'll work on EC2 metadata this weekend.

Super excited to start contributing to both kube-hunter and kube-bench. Two projects I absolutely love!

[2019-06-14 16:09] lizrice commented on #127
That’s interesting. I guess we’d need to keep up-to-date with any changes to that file, but it might be more efficient to embed the data

[2019-06-17 09:18] lizrice commented on #109
@jvaibhav123 did you get a chance to see if there’s a json.pyc file in your system? See my last comment

[2019-06-17 22:53] davidkarlsen commented on #61
Is this project dead?

[2019-06-18 06:42] lizrice commented on #61
Far from it! Note that not being able to find any clusters is a perfectly plausible response - for example if the cluster is not accessible over the network from where kube-hunter is run.

Please run with logging turned on @sachsachdeva so we can get some clues. Also @danielsagi to re-test on AKS when you have a chance.

[2019-06-25 14:04] danielsagi commented on #61
@sachsachdeva @aakarshit-batchu @davidkarlsen please see #140.
This fixes the issue in your case of not printing the vulnerabilities found from running with job.yaml.

@lmeyemezu After: #137 exceptions are now logged correctly, so if you would run now, we can debug and see the origin of the "incorrect padding" error you got, also, there has been multiple PR's from when this issue was posted, so th

[2019-06-25 14:04] #61 closed

[2019-06-25 14:07] danielsagi commented on #124
see: #137 Thank you!

[2019-06-25 14:07] #124 closed

[2019-06-27 08:55] #17 closed

[2019-06-28 00:54] danielsagi opened #143 "CAP_NET_RAW new hunter"
Changing kube-hunter to not rely on having a raw socket capability when running in a pod. so not using scapy by default.

Also, adding a hunter which checks for this capability and throws a NET_RAW event should be a good thing

[2019-06-28 01:01] danielsagi opened #144 "Enhancing subscribe mechanism"
The hunter subscribe mechanism currently support subscribing to one or multiple event.
The problem arises when for example we want to run a hunter only if two specific events were published.

One thing we could do is add a new 'queue' dictionary, that will store the 'multiple subscriptions', and on each event that is being published that resides in this queue_dict, adding the event object to the q

[2019-07-01 16:14] gramidt commented on #45
I apologize for the delay, @lizrice! I have allocated time this week to work on this.

I will let you know if I have any questions.

[2019-07-03 07:48] #122 closed

[2019-07-04 09:39] #143 closed

[2019-07-07 10:55] danielsagi opened #148 "Add pprof hunting on kubelet"
Enhance the debugging handlers hunting on the kubelet.

- [x] add pprof/cmdline

[2019-07-07 10:57] danielsagi opened #149 "Add logs endpoint hunting on kubelet"
Enhance handlers hunting in the kubelet by adding /logs hunting

[2019-07-08 06:27] Eremiel opened #151 "missing requirements"
On ubuntu 18.04 with python Python 2.7.15+

[code]

I am getting this:
[code]

[2019-07-08 06:45] Eremiel commented on #151
Solved by installing
urllib3==1.22

[2019-07-08 08:41] lizrice opened #152 "Retire support for Python 2.x"
Since Python 2 is no longer supported.

- Update readme
- Remove automated testing from Travis jobs

[2019-07-09 17:49] danielsagi commented on #151
Hi @Eremiel , we are stopping support for Python 2, you should consider switching to Python 3.
related #153

[2019-07-09 20:55] danielsagi opened #155 "Merge CVE hunters"
The following needs to be done for generic cve hunting.
The cvehunter module should contain all hunters which perform version based Vulnerability publishing
- [x] Move kubectl cve hunter to the cvehunter module
- [x] Move generic cve comparison function to utils
- [x] Change api server CVE hunter to use the util function for comparison

[2019-07-10 10:23] #152 closed

[2019-07-10 10:37] #148 closed

[2019-07-10 12:03] #149 closed

[2019-07-10 12:03] #151 closed

[2019-07-10 14:13] danielsagi commented on #113
@Richahasija to redirect output to a file, you can run:
`
./kube-hunter.py --remote some.node.com 2> my-report.txt
`
logging happens on stderr, this is why you should use 2>

[2019-07-10 14:25] danielsagi commented on #111
@aakarshit-batchu aquasec/kube-hunter image has been updated, please check again and let me know if your problem consist.

[2019-08-07 12:23] denniswebb commented on #35
@gramidt Any luck? I'm having the same issue on a fresh EKS cluster.

[2019-08-07 15:28] denniswebb commented on #35
I did some more testing. Running an image from `master`, then truncated results are
[code]

[2019-08-08 12:40] danielsagi opened #164 "Add a subscribe once mechanism to core"
After the PR: #162 will be merged, a potential problem will arise, because the K8sClusterCveHunter could potentially be executed many times, which will cause unnecessary duplicates, **there are many ways to hunt the Api version, but we only want to check that version for CVEs once**

The easiest way, is adding a subscribe once function that acts like the normal subscribe, but will unregister the h

[2019-08-12 15:40] danielsagi commented on #35
@denniswebb Hi dennis, this issue could be related to a raw_socket opening.
could you run this in a python shell and send the output?
[code]

[2019-08-15 09:56] #164 closed

[2019-08-15 09:56] danielsagi commented on #155
related #162

[2019-08-18 01:02] Spareo commented on #35
I just tried deploying this to EKS and have the exact same issue.

[2019-08-18 01:07] Spareo commented on #35
@danielsagi I just ran that on my EKS cluster. I exec'd into the Kube-hunter pod and just started a python shell and ran those statements....

[code]

It just hangs after that and never returns anything. We have egress rules on our node security groups that might be blocking this, although we do allow traffic out on 80 and 443 as well as some other necessary ports.

[2019-08-21 10:49] #113 closed

[2019-08-21 10:52] lizrice commented on #111
I think we could extend the length of what is shown in the Evidence field, as it's quite a lot shorter than the descriptions, so there is space for more

[2019-08-21 10:53] lizrice commented on #109
Closing as stale and also duplicate of #108

[2019-08-21 10:53] #109 closed

[2019-08-21 10:57] lizrice commented on #35
Renamed issue to better reflect what it's currently tracking

[2019-08-21 10:58] lizrice commented on #80
Closing as stale, and probably duplicate of #35

[2019-08-21 10:58] #80 closed

[2019-08-21 10:59] lizrice commented on #70
@danielsagi is this now fixed?

[2019-08-21 11:00] lizrice commented on #102
Duplicate of #112

[2019-08-21 11:00] #102 closed

[2019-08-21 11:18] lizrice commented on #64
We do now show CVE numbers for specific CVE vulnerabiltiies

[2019-08-21 11:18] #64 closed

[2019-08-26 09:21] danielsagi opened #171 "Add detection for the new CVEs in http go implementation"
As discussed in: [here](https://thenewstack.io/netflix-discovers-severe-kubernetes-http-2-vulnerabilities/)
The following:
* CVE-2019-9512
* CVE-2019-9514

Affects kubernetes. in some versions.
We need to add a detection for these in the cve hunting of the api server

[2019-08-26 09:43] danielsagi opened #172 "Possible problem with k8s version detection"
Currently the `K8sClusterCveHunter` is subscribed once to a `K8sVersionDisclosure`.
A problem could arise when scanning multiple nodes, each having a different k8s version. in such case we would assume all nodes to be with one of these versions.

### Possible Solution
Add another "subscribe once" option, but correlating a check to the originating host field

[2019-08-27 07:48] #155 closed

[2019-08-27 07:49] lizrice opened #174 "Add code coverage report"
Since we have some testing now, it would be nice to find a way to report whether we are improving test coverage with each PR

[2019-08-27 19:03] #171 closed

[2019-08-28 18:18] iYehuda commented on #108
The bug occurs when the log level is higher than INFO.
The reason for that is that the report is printed via `log.info` when in plain report type.

[2019-08-30 20:33] shubb30 commented on #107
I would like to see this too.  I can't have a security tool making calls to the outside.

[2019-08-31 19:54] #112 closed

[2019-08-31 19:55] danielsagi commented on #112
this was fixed, the image is now updating

[2019-09-04 14:56] pepov opened #177 "Inconsistent or intended behaviour when scanning for writable /var/log hostpath mounts"
Introduced in https://github.com/aquasecurity/kube-hunter/commit/e5db8b6b282c126af952730a374896b63e48c8fc the `VarLogMountHunter` has a method `has_write_mount_to ` which according to it's name and to the [blog post](https://blog.aquasec.com/kubernetes-security-pod-escape-log-mounts)  should check if there are any `VolumeMounts` in the pod that actually mounts a `hostPath` `Volume` with `/var/log`

[2019-09-18 09:47] lizrice opened #179 "Erroneous reports on OpenShift 3.10"
From the attached log file (run on openshift 3.10 at a customer POC):

- kube-hunter reports several CVEs that we detect by checking the version number. The reported version number is v1.10.0+b81c8f8 which sounds like it's a patched version. Can we add checks for known patches to kube-hunters version checks?

- kube-hunter is reporting anonymous authentication on the kubelets - we should check if

[2019-09-18 18:30] bitsofinfo opened #180 "For each vulnerability, links to remedies and further information should be provided"
Great tool, however for each "finding" it dumps out, it would be great if a link was provided to a corresponding page of information that could guide the user on how to actually remedy the situation using standard k8s documentation pointers/examples etc.

[2019-09-19 18:57] #179 closed

[2019-09-22 06:02] itaysk commented on #180
Hi, thanks for taking the time to file an issue!
We are working on this, will use this issue for tracking.

[2019-09-22 16:50] iYehuda commented on #108
Resolved via #175

[2019-09-22 16:50] #108 closed

[2019-09-23 19:25] ALuongIBM opened #184 "interface vboxnet does not exist"
Hello,
This is probably a simple question, but when I `python kube-hunter.py` I get the error:
`interface vboxnet does not exist`.
Is this expected?

[2019-09-27 07:33] larsrinn opened #185 "Put on PyPI"
Hi,

great tool, thanks for building it. I'd like to run it from inside a Google Cloud function to regularly scan our clusters. This is rather complicated, if the package can't be installed using pip. Is there any particular reason it is not up on PyPI?

[2019-10-01 15:36] chrisante opened #186 "Why is kube-hunter showing a vulnerability in a version that is patched for the CVE?"
![image](https://user-images.githubusercontent.com/42646545/65976619-611e6d00-e43e-11e9-90e2-69e69f7b9204.png)

EKS version is the correct patched version yet, the following CVE's (CVE-2019-9514 and CVE-2019-9512) are returned as vulnerabilities. Is there possibly an issue with the Go version/worker nodes that's not up to date with the api server?

CVE Reference:https://discuss.kubernetes.io/t/sec

[2019-10-04 08:10] lizrice opened #190 "Add hunter for CVE-2019-17110"
https://nvd.nist.gov/vuln/detail/CVE-2019-17110 vulnerability where kube-state-metrics can expose secrets

[2019-10-04 11:16] lizrice commented on #186
@iYehuda I think you are already looking at this, right?

[2019-10-04 11:16] lizrice commented on #185
Good idea, we could do that

[2019-10-04 11:19] lizrice commented on #184
I think it's a benign warning, but we shouldn't be showing it

[2019-10-04 11:24] #70 closed

[2019-10-09 18:50] Kerl1310 commented on #185
I could pick this up but AFAIK it'd require a PyPi account to be set up?

[2019-10-10 01:39] cvernooy23 opened #191 "pod requires running as root?"
I have a PSP defined that limits containers/images running as root. kube-hunter, like many images from public registries, fail with the following events:

Successfully assigned default/kube-hunter-tfm68 to <ip_address>
Pulling image "aquasec/kube-hunter"
Successfully pulled image "aquasec/kube-hunter"
Error: container has runAsNonRoot and image will run as root

Name:           kube-hunter-tfm68
N

[2019-10-10 17:39] lizrice opened #194 "Default value for --ignore-downstream flag"
If you don't specify the --ignore-downstream flags, you will get false positives for patched versions of Kubernetes. Ideally we would know the patch identifiers so we can report accurately, but since kube-hunter is not intended to be a comprehensive CVE checker, that's not critical. It would be better if the default behaviour were to NOT report on these false positives.

[2019-10-11 19:17] butuzov commented on #185
@Kerl1310 well, you can use test.pypi.org for testing proposes.

[2019-10-11 21:52] Kerl1310 commented on #185
If so then I'd be happy to work on this

[2019-10-12 07:49] butuzov commented on #174
Hi Liz. Done =)

[2019-10-13 14:10] #180 closed

[2019-10-15 10:59] en3rgetic opened #207 "g"

[2019-10-15 11:55] Frozenaught commented on #184
Hi, if no one is working on this, I would be happy to give it a try.

[2019-10-16 16:38] #207 closed

[2019-10-16 19:42] en3rgetic commented on #207
Oops..... thought I canceled it. Sorry for the inconvenience.

[2019-10-17 10:03] alexaldr opened #213 "Translate README.md to PT-BR"
Can I submit a PR translating the README.md to **PT-BR** language? (like _README.pt-BR.md_)

Other users can benefit from this translation.

[2019-10-17 18:41] parammittal16 opened #216 "Translate Readme to Spanish"

[2019-10-18 09:47] Scorpion136 commented on #213
Love it

[2019-10-19 23:20] vipulgupta2048 commented on #184
@lizrice Simple enough, we can handle this error in the main Python script and write a test for it, so that it doesn't happen again.
(Also, I am so happy to contribute to Aqua and heard so much about you!! :100: )

[2019-10-20 05:11] vipulgupta2048 commented on #185
Hey @Kerl1310, let me know if you are still working on this. I have been working on Python Packaging and would love to apply some skills here. Cheers,

Steps taken so far,
- Start preparing Kube-Hunter to be packaged.
- Created account for test.pypy.org and working on deployment to it per release basis.

[2019-10-20 12:40] iYehuda commented on #216
Hi @parammittal16 !

Although it would be helpful to have translation for the project README, it requires every one who wishes to make a change in the README to supply a matching translation to every language we support.
Thinking forward, it will be a liability more than it will contribute.

We would might rethink about translations as the project grows, but for now, the issue will be closed.

Tha

[2019-10-20 12:40] #216 closed

[2019-10-20 12:43] iYehuda commented on #213
Hi @alexaldr !

Referring #216, we decided not to support translations for now.
You may refer to the aforementioned issue for explanation.

Thank you for your proposal.

[2019-10-20 12:43] #213 closed

[2019-10-20 12:51] iYehuda commented on #185
We actually plan to implement packaging and release management soon, although I don't see why not accepting a contribution for this feature if work has already being done.

@Kerl1310 have you made any progress with it?

@vipulgupta2048 Sounds like a nice progress.
How do you think to implement release management?
We can use Travis for this task or we can leverage GitHub Actions.
Do you recommend a

[2019-10-20 12:59] butuzov commented on #185
Using Travis and condition (tag is present), can help to automate pipy and GitHub releases deployment on the same moment, however, I would go for a manual deployment (as this is a simple twine command).

[2019-10-20 13:01] iYehuda commented on #75
Hi @carnal0wnage !

Sorry for taking forever to deal with this issue.
Can you explain more about implications of finding an open cAdvisor endpoint?
Are you familiar with cAdvisor vulnerabilities that we can scan for or information we can gather from such open service?

[2019-10-20 13:11] iYehuda commented on #111
Can we close this issue? @aakarshit-batchu @lizrice

[2019-10-20 13:23] iYehuda commented on #120
Do you have an example output?
The event counter should count only subclasses of `Vulnerability` that the hunter has published.
If not so, it is a bug.

[2019-10-20 13:31] iYehuda commented on #118
Agreed.

I discussed with @itaysk about severity in the context of necessary refactor.
The discussion essence it that apart of category mapping to severity, each and every event should declare its severity in its definition.

There is also needed change in how we treat Events/Vulnerabilities/Services since there is a possible overlap in their behavior which may be reasonable, but can mislead to wr

[2019-10-20 14:06] iYehuda commented on #177
Hello @pepov !

I think you are right.
The check being made is only for existence of `hostPath` volumes of `/var/log`.
We need to check for the `volumeMounts` and filter out read only mounts.

I also spotted another bug in this check - Existence of `hostPath` volumes that are sub-directories under `/var/log` will be reported as well (and are obviously false positives).

We should add some tests wh

[2019-10-20 14:39] hefnawi commented on #190
Hello Liz,
I would like to give this issue a try and will keep you posted on updates.
Thanks!

[2019-10-20 15:28] hefnawi commented on #190
@lizrice could you please assign a VID for the CVE-2019-17110 so I can include it in my PR?

Thank you.

[2019-10-20 15:35] iYehuda commented on #190
You can use KVH051

[2019-10-20 15:35] hefnawi commented on #190
Thanks!

[2019-10-20 15:37] iYehuda commented on #185
I guess using tagged releasing is our go-to

[2019-10-20 16:19] vipulgupta2048 commented on #185
Hello @iYehuda, glad to see an active response. I always wanted to build a deployment pipeline from scratch. So, happy to learn and collaborate on it. Apart, from that, I feel its good contribution nonetheless.

I have prior experience with Travis CI, where deployment takes place every release. It works like a charm. That's what we have been using with [Spidermon](https://github.com/scrapinghub/sp

[2019-10-20 16:49] iYehuda commented on #185
Would it be reasonable to start implementing manual releases with Twine and migrate to Travis afterwards?

[2019-10-20 17:15] vipulgupta2048 commented on #185
Perfectly fine with me, I guess by deploying with Twine we can get a level of confidence and reliability that Kube Hunter works fine. From there on, we can proceed to automated deployments. I will get started on that.

[2019-10-21 13:34] RaitoBezarius opened #230 "Plain reporting should use `set` rather than `list`"
## What would you like to be added
Usage of `set` rather than `list` in plain reporting, this would make the plain reporting faster when the number of services is high.

## Why is this needed
It's cheap to make it faster and faster feedback for tools makes it easier to adopt.

[2019-10-21 13:55] RaitoBezarius commented on #127
@lizrice What about using Tor to query the service? Do we care about someone MITM'ing the connection and reading the data we send to the service? Or do we care about getting anonymity during querying the service?

I could send a PR enabling Tor support for external services queries, using SOCKS5 proxy (assumes Tor is running as a proxy, blabla)

[2019-10-21 16:23] DrMurx commented on #127
@RaitoBezarius Using Tor for this particular purpose is probably like taking a sledgehammer to crack a nut. A locally running security scanner should not leak internal data to a 3rd party, regardless of the transport, especially if that 3rd party is not an officially supported tool of a known vendor.

[2019-10-21 17:52] RaitoBezarius commented on #127
@DrMurx Well, I agree. I guess the simplest way is to embed the PublicIPs data into the tool directly.

[2019-10-21 18:36] RaitoBezarius opened #234 "Profiling is impossible on the script"
## What would you like to be added

Currently, due to the usage of `__main__` to import the `config` object from ArgParse, it is impossible to use external scripts that can instrument the main script (because it changes the entrypoint script).

Making it impossible to use: `cProfile`, `memory_profiler` for instance.

A solution is to create another file `conf.py` and add a global `config` object i

[2019-10-21 18:40] RaitoBezarius commented on #35
According to this https://github.com/secdev/scapy/issues/621 it could be related to not choosing the interface, maybe as `netifaces` is already used in the Discovery Host module, it can be reused for the DNS/ARP module to choose a canonical interface and avoid routing issues.
I can send a PR but unsure if I can reproduce the bug.

[2019-10-21 22:05] RaitoBezarius opened #235 "Dependence on canhazip.com for external IPs fetch"
## What would you like to be added

Currently, in Discovery Hosts module, canhazip.com is used as an external service, it'd be interesting to add the possibility to replace it by another service (just provide a canhazip.com—compatible service or some modular way to have an "ExternalIPService" instance which can give your external IP address).

## Why is this needed

In the same vein as #127
This i

[2019-10-23 06:44] itaysk opened #240 "Add search for the KB"
Currently the search is more like a lookup, where you can lookup an article by it's ID. We need a full text search to allow people to search for content freely.

[2019-10-23 10:07] lizrice opened #241 "Pull Request template needs improving"
The PR template doesn't really fit well with this project but the following improvements would make it more worthwhile

* All PRs should reference an issue unless it's a trivial docs change. Say that in a comment and remove "if necessary". Add a tick box to the checklist.
* Screenshots are rarely the right format in this project, but it would be good to see "before" and "after" terminal output. Ch

[2019-10-23 10:15] lizrice commented on #241
@sidhyatikku

[2019-10-23 15:34] #230 closed

[2019-10-23 15:51] sidhyatikku commented on #241
@lizrice I would like to get assigned to this issue.

[2019-10-23 16:31] iYehuda commented on #241
Resolved by #242

[2019-10-23 16:31] #241 closed

[2019-10-23 16:34] iYehuda commented on #240
Can we run some backend logic on GitHub pages to do that?
What is the common way to do this on that platform?

[2019-10-23 16:48] itaysk commented on #240
No. We can do client side, or server side hosted as a service. There are several of those that work with Jekyll like algolia/lunr just to give an example

[2019-10-23 16:58] iYehuda commented on #235
I agree that modular external IP discovery would be helpful.

How do you think kube-hunter should choose its way of discovery?
I find it a bit strange to configure it via CLI (i.e. `--ip-discovery=canhaz.ip`).
It is more reasonable to have multiple (secure) providers in a pluggable and failover.

What do you think?

[2019-10-23 17:06] iYehuda commented on #234
Hi @RaitoBezarius !

Good point.
Having config referenced in the main module also limits us with testing.
We can't run pytest directly from command line because of main module imports, hence the `runtest.py`.

Would you like to take this one?

[2019-10-23 17:07] RaitoBezarius commented on #234
Hi @iYehuda ! Thank you for your time.
I'd be glad to send a PR for it. :)

[2019-10-24 02:25] RobbiNespu commented on #240
how about something like this
![Screenshot-20191024102538-962x673](https://user-images.githubusercontent.com/3077875/67448126-a5b9b480-f648-11e9-8c4e-ca1275895daf.png)

[2019-10-24 06:08] itaysk commented on #240
looks good, but should replace or integrate with the current search in the sidebar.
better to discuss the behavior and design of the feature here, and the implementation in the PR, so I'm adding [WIP] to your PR just so maintainers don't review it yet. Please remove it once you are ready to review.

[2019-10-24 11:08] itaysk opened #245 "create a sitemap"
create a sitemap for the docs site, for search engines

[2019-10-24 11:39] itaysk commented on #240
I think it would be best to use some external search indexing service. One option is Google custom search. It's free but ad supported. Another is Algolia which is free for not-commercial project which I guess we qualify.

[2019-10-24 12:14] RaitoBezarius commented on #235
I agree this is strange to configure this via CLI. But how would you configure the providers in this case? A config file? Or do we curate the best choices of providers?

[2019-10-25 13:42] lbudai74 opened #246 "python2 is used instead of python3"
### What happened

When trying to run the kube-hunter.py it throws the following error:
 $> ./kube-hunter.py
Traceback (most recent call last):
  File "./kube-hunter.py", line 33, in <module>
    from src.modules.report.plain import PlainReporter
  File "/root/kube-hunter/src/__init__.py", line 1, in <module>
    from . import core
  File "/root/kube-hunter/src/core/__init__.py", line 1, in <modul

[2019-10-25 19:07] devgupta2607 commented on #245
How to create one? I am willing to help.

[2019-10-27 15:06] lbudai74 commented on #246
Thanks for the quick fix.

[2019-10-27 15:06] #246 closed

[2019-10-28 13:02] itaysk opened #253 "Document categories"
we need to add some documentation of the existing categories and their meaning.
Also, maybe worth to report the relation to severity until that is changed (https://github.com/aquasecurity/kube-hunter/issues/118)

[2019-10-28 13:08] itaysk opened #254 "Expose VID on all output types"
The VID is currently exposed only for "plain" output (meaning, the terminal output).
We should add it to other types like json/yaml.
Unlike the plain output, where it didn't make sense to add the full url to the report for usability concerns, in the other outputs which are machine readable we should include the url.

(this is also requested for Aqua CSP integration)

[2019-10-28 14:53] MaxRupees commented on #253
I'd like to help with this. Is there a list of categories somewhere, or are you using a package that I can view for a list of categories?

[2019-10-29 08:43] itaysk commented on #253
Take a look here: https://github.com/aquasecurity/kube-hunter/blob/b2d2f5a01ae9c54714fa6d991887c5e3d51688c1/src/core/types.py#L54

[2019-10-30 18:40] yusufscott opened #262 "Running kube-hunter.py is receiving an IndexError"
### What happened

I received the following error when running `./kube-hunter.py`:

  File "kube-hunter.py", line 33, in <module>
    from src.modules.report.plain import PlainReporter
  File "/Users/i25814/testspace/kube/kube-hunter/src/__init__.py", line 2, in <module>
    from . import modules
  File "/Users/i25814/testspace/kube/kube-hunter/src/modules/__init__.py", line 3, in <module>
    fro

[2019-10-30 23:36] RaitoBezarius commented on #75
@iYehuda It appears to me that getting the remote REST API of cAdvisor enables us to get a lot of info on all running containers, as per https://github.com/google/cadvisor/blob/master/docs/api.md

[2019-10-31 20:45] RaitoBezarius opened #268 "Many locks are prone to deadlocks in case of unexpected exceptions"
## What would you like to be added

It would be good if the locking code would take into account the possibility of code throwing exceptions and would always ensure that the lock is released even in case of unexpected exceptions being thrown.

It is usually either done by manually doing a: `try: / catch: / finally:` block, or by using a context handler with a lock context-friendly (like the one yo

[2019-10-31 21:53] RaitoBezarius commented on #254
Hi @itaysk

AFAIK, VID is exposed in JSON/YAML, I can see a `vid` field on `master` version.
But I agree on full URL, I'll send a PR right away if it's okay.

[2019-10-31 21:58] RaitoBezarius commented on #240
That sounds overkill, this seems a more appropriate solution if possible: http://elasticlunr.com/

[2019-10-31 22:01] RaitoBezarius commented on #254
Well, it's not obvious what would be the full URL because I don't see any hosted docs somewhere, @itaysk — also do we want to hardcode a base URL?

[2019-11-01 06:35] itaysk commented on #240
@RaitoBezarius if that can support full text indexing (of the content) that's an option too

[2019-11-01 06:38] itaysk commented on #254
Yes the VID is already there, I didn't notice. Please ignore this issue for now.

[2019-11-01 09:18] adyrcz commented on #262
I received the same indexerror
[code]
I removed the version pinning and installed the modules and I'm up and running now...
I dont have the time right now, but I'll go back and return the versions to the pinned version from the reqirements.txt to determine which module is causing the indexerror.

[2019-11-04 15:28] iYehuda commented on #262
Hi @yusufscott , thanks for reporting!

I tried to reproduce the error you get by installing your `pip freeze` state inside `python:3.7.4` docker container.
Running `./kube-hunter.py --remote <my-cluster-ip>` finished successfully.

Do you use the current master branch (8cc90db)?
Can you provide the command line you used to run kube-hunter?
What type of cluster did you scan (GKE, EKS, etc.)?

[2019-11-04 15:43] iYehuda commented on #262
I suspect this is a macOS issue, let me dig further.

[2019-11-04 17:34] iYehuda commented on #262
This is a scapy [bug](https://github.com/secdev/scapy/issues/2134) that is [fixed](https://github.com/secdev/scapy/pull/2139) in version 2.4.3.
We need to update the requirements file respectively.

[2019-11-05 03:34] hugo320 opened #274 "Kube-hunter report can't show vulnerabilities online"
We can run below command in target machine, and the output report only contains the node information, but can't find the vulnerability report, which shows in the linux box already. Could you please help with this issue?

Command: docker run -it --rm --network host aquasec/kube-hunter --token
Notes: Token is already included from this command, I just remove it in case sensitive information disclosu

[2019-11-05 10:53] #262 closed

[2019-11-05 19:48] #245 closed

[2019-11-07 17:10] #268 closed

[2019-11-10 13:21] #254 closed

[2019-11-10 19:12] haileymothershead commented on #45
@lizrice is this issue open to contributions? I'm currently a senior at UT Austin and am taking a virtualization class. As part of the class we're supposed to work on an open source project and we'd love to handle this issue!

[2019-11-12 09:47] itaysk commented on #127
the source of truth is here: https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519
This is a json file provided by MS and is updated *weekly*.

If we want to eliminate external dependencies, we could fetch this file on Kube-Hunter run and write some code that matches against the listed addresses.

[2019-11-12 11:48] itaysk commented on #79
thanks @swade1987 for the suggestion. I'd like to clarify this request:
kube-hunter is a one time job that runs, reports, and dies. I don't think exposing metrics from kube-hunter is useful there's a good chance it will finish before Prometheus will be able to scrape it. Once thing we could do, it maybe push to a push gateway.

[2019-11-12 11:53] itaysk commented on #45
@haileymothershead feel free to work on this (or other issues that you like)

[2019-11-12 12:41] swade1987 commented on #79
@itaysk I think the ability to easily configure kube-hunter to push metrics to the pushgateway makes sense.

[2019-11-21 13:51] shayfisher opened #277 "Enable running on premise"
Enable an onpremise flag to disable any test which might try to access the internet.

I run K8S on premise on a fully disconnected network. Would like to use kube-hunter without needing to approve any access through proxy to the internet.

[2019-11-26 18:28] #194 closed

[2019-11-26 18:29] #186 closed

[2019-11-30 08:42] lizrice commented on #274
Hi @hugo320, can you send the output you’re seeing to clarify what the issue is here?

[2019-11-30 08:46] #174 closed

[2019-11-30 08:49] lizrice commented on #111
@yoavrotems please could you run and grab a screenshot of how much information is now shown in the Evidence output? It would make sense for it to be a similar length to Description

[2019-12-03 22:32] iYehuda opened #280 "kube-hunter does not show plain report on active mode"
### What happened
Started kube-hunter in active mode inside a pod with plain report mode.
kube-hunter printed some progress output but didn't print a report:
[no-report.log](https://github.com/aquasecurity/kube-hunter/files/3919017/no-report.log)

### Expected behavior
Report printed

[2019-12-03 22:37] iYehuda commented on #280
This is an issue with vulnerabilities that have no `vid` field (set to `None`).
Such vulnerabilities are found by active hunters so this issue occurs only when active hunting.
The source of the problem is PrettyTable trying to sort None values, as seen in the log file:

We can fix this by using the string `"None"` as default value for vid, as this will not make PrettyTable to err.

[2019-12-03 23:08] iYehuda opened #282 "API server access tests are skipped"
### What happened
Started kube-hunter in active mode with RBAC rules enabled for pod creation.
kube-hunter did not report about successful pod creation.

### Expected behavior
kube-hunter reports about successful pod creation

[2019-12-03 23:11] iYehuda commented on #282
It worked when added ClusterRole for listing namespaces.
The logic behind the hunter is to list namespaces and try to create a pod inside every namespace found.
When there is no access to list namespaces, the hunter will not try to create a pod.
The desired behavior is to create a pod inside the service account namespace when no namespaces discovered.

[2019-12-03 23:49] iYehuda commented on #277
Hi @shayfisher !

We would like to make kube-hunter running in disconnected environments.
There is an ongoing work (#270 ) for declaration and management of external services integration.
Once this is completed, we can easily enable configuration for disconnected environment by disabling external services.

Thanks!

[2019-12-03 23:56] iYehuda commented on #235
I think it is better to curate our own sources rather then letting the user handle this.
As discussed #277, I believe the only option the user should have is whether or not using external services.

[2019-12-04 00:00] iYehuda commented on #191
Hi @cvernooy23! sorry about the delay.

Did you try to run kube-hunter with security context of non root user?
As mentioned by @lizrice in #279, the job.yaml spec in this repository is just an example for running kube-hunter and you may change its configuration to fit your needs.

[2019-12-04 14:09] pothos commented on #37
You can build arm64 images as follows on your current x86 Linux environment:

Install the `qemu-user-static` package for your system which should include `qemu-aarch64`.
Then maybe do a `sudo systemctl restart systemd-binfmt.service` depending on your distribution.

Verify that Docker can now start ARM images:
[code]

Run `git apply`, paste the following and press Ctrl-D to temporary select the AR

[2019-12-04 21:46] ZitianXie opened #284 "Kube Hunter Couldn't Find any Clusters"
Hello,

I am running kube-hunter in Ubuntu 19.04. I installed the Bookinfo application from Istio using microk8s. However, kube-hunter doesn't seem to find the application inside the cluster.  All kube-hunter found was the main Kubehunter cluster head IP as  10.152.183.1. Kube-hunter did not go inside the cluster to find more vulnerabilities about the application itself.

Here are the running serv

[2019-12-04 22:16] iYehuda commented on #284
Hi @ZitianXie !

Correct me if I'm wrong but you expected to see application vulnerabilities as part of kube-hunter report.
kube-hunter does not scan applications that run on top of k8s, but the k8s cluster ecosystem itself (API server, metrics server, etc.)

[2019-12-06 07:49] Stoffe opened #285 "Import error"
Import error trying to run kube-hunter...

(env) C:\Tools\KubeHunter\kube-hunter>.\kube-hunter.py
Traceback (most recent call last):
  File "C:\Tools\KubeHunter\kube-hunter\kube-hunter.py", line 33, in <module>
    from src.modules.report.plain import PlainReporter
  File "C:\Tools\KubeHunter\kube-hunter\src\__init__.py", line 1, in <module>
    from . import core
  File "C:\Tools\KubeHunter\kube-

[2019-12-06 11:05] iYehuda commented on #285
Hi @Stoffe !

It seems that somehow kube-hunter is run with python2.
Can you run `python3 kube-hunter.py`?

Also can you send the out of the following commands (inside your virtual environment):
* `assoc .py`
* `ftype Python.File`
* `py -V`
* `python -V`

[2019-12-07 02:55] ZitianXie commented on #284
Hello @iYehuda,
Got it, thanks for the reply!

[2019-12-07 14:03] #284 closed

[2019-12-20 18:00] rbren opened #287 "Vulnerabilities in latest kube-hunter image"
### What happened
Ran trivy on kube-hunter:501 (the latest release)

### Expected behavior
No vulnerabilities reported

### Actual behavior
38 vulns found. here's a (minimized) trivy report:
[code]

[2019-12-29 12:04] itaysk opened #289 "cleanup configuration refactor"
This issue is to extract the todo items from the code of https://github.com/aquasecurity/kube-hunter/pull/283 in the file `kube-hunter.py` to a proper issue.

- [ ] L18: move log level parsing to conf module
- [ ] L25-L29, L39-42: move this mapping to report module, consider using factory for abstraction
- [ ] L32-L26: move report config handling to conf module

[2019-12-29 12:18] #234 closed

[2019-12-29 14:12] iYehuda opened #290 "PyInstaller can't find dependecies of dynamiclly imported modules"
There is a common usage of dynamic import in `__init__.py` files to import every module inside a package dynamically.
Tools like PyInstaller cannot find dependencies of dynamically loaded modules.
The usage of dynamic imports is not justified since it is not made conditionally.
We should decrease its usage as a practice and standardize the way kube-hunter is built with PyInstaller (e.g, supply it

[2020-01-09 16:36] lizrice commented on #287
yes. In particular `tcpdump 4.9.2-r4` has some high-sev vulns

[2020-01-09 17:04] #280 closed

[2020-01-09 19:45] iYehuda commented on #287
It seems that the latest build is 3 month old.
Need to check build automation.

[2020-01-09 21:15] vitobotta opened #291 "Cluster deployed with a Rancher node driver leaves kubelet/etcd ports open according to kube-hunter"
Hi! I am currently using a so called node driver for Rancher to deploy Kubernetes to my cloud provider (Hetzner Cloud), so that Rancher can conveniently manage the nodes for me. This kind of deployment doesn't set up any firewall unfortunately, so while Kube Hunter doesn't report any vulnerabilities, it does report that Kubelet and etcd are open services.

Assuming that unauthenticated access is n

[2020-01-21 11:05] invidian opened #292 "Log levels broken"
### What happened

It seems that since fe3dba90d8cc6f947846e6a099a2562e7c2f88b1, `--log DEBUG` has no effect when running `kube-hunter`.

Steps to reproduce:
1. Checkout repository
2. `docker run -it $(docker build . | tail -n 1 | cut -d" " -f3) --log DEBUG --pod`

Reverting to fd4d79a8534fe3967162c18770a208871d8403c9 restores proper logging behavior.

### Expected behavior

Debug messages should

[2020-01-21 11:16] invidian opened #293 "Add reasonable timeout when discovering kube-apiserver"
## What would you like to be added

When trying to discover kube-apiserver instances, probe GET requests should have reasonable timeout defined, so `kube-hunter` runs doesn't take a long time.

## Why is this needed

From my limited knowledge and by analyzing debug logs of kube-hunter, I can see, that it tries to get public IP for outgoing traffic of the pod and then tries to scan /24 of this IP a

[2020-01-24 10:43] junaid18183 opened #295 "AttributeError: 'L2Socket' object has no attribute 'ins'"
### AttributeError: 'L2Socket' object has no attribute 'ins'

<!---
  Started a job, and checking logs of the pod

[code]

[2020-01-31 16:46] gramidt commented on #45
@lizrice @itaysk - I apologize for slacking and forgetting about this. I just started it last night and will be wrapping up the AWS EC2 Metadata API check today. Currently, I am on extending the data retrieved for the vulnerability event. Similar to the Azure Metadata API, the AWS Metadata API contains networking details, but also a bunch of other data points as well, including IAM secrets.

[2020-01-31 22:06] dustin-decker opened #296 "Need support for ignoring IPs"
## What would you like to be added

I need support for ignore IPs that may be included in a CIDR range.

## Why is this needed

I want to exclude certain clusters.

[2020-02-10 16:24] lizrice commented on #253
We should use a standard categorisation rather than making up a new one

[2020-02-10 19:35] #185 closed

[2020-02-14 18:10] lizrice commented on #287
For some reason we weren't using auto builds on Docker Hub, but I have set this up now

[2020-02-14 18:54] lizrice opened #300 "Docker image build fails"
### What happened
Running `docker build .` fails with following error (which I think is something to do with the new PyPi packaging)

[code]

### Expected behavior

Successful docker image build

[2020-02-14 18:55] lizrice commented on #287
...and that's failing - see #300

[2020-02-14 20:50] iYehuda commented on #300
The Dockerfile uses requirements file for dependencies.
I should have updated it to use ‘pip install .’ with in the packaging PR.
I’m on it

[2020-02-15 23:14] iYehuda opened #301 "Standard build with PyInstaller"
## What would you like to be added
Add support for PyInstaller build.
That is not trivial since there are dynamic imports in kube-hunter code base, which should be treated individually when building \w PyInstaller.

## Why is this needed
There are kinds of integrations which cannot have python exists.
We can use PyInstaller to "freeze" kube-hunter to a single executable binary.
Going further we ca

[2020-02-16 20:46] iYehuda commented on #295
Hi @junaid18183 !

Please supply some information about your setup: python version, `pip freeze` output, kube-hunter version/commit used.

[2020-02-16 22:54] iYehuda commented on #293
Hi @invidian !

Thanks for raising an issue.
I agree about setting a timeout, it's a good practice and improves scanning time.
Can you supply some information about your environment in order to reproduce that?

[2020-02-16 23:48] iYehuda commented on #292
Hi @invidian !

Thanks for reporting!
This is surely a regression since #283.
The bug origins in a call to `logging.basicConfig` being done before the [configuration set](https://github.com/aquasecurity/kube-hunter/blob/fe187bc50a3492c84e3bf5f79743a4f163f5b413/kube_hunter/__main__.py#L20).
We should avoid using `logging` default logger and use a custom one to prevent unexpected behavior.

[2020-02-17 08:23] invidian commented on #293
Hi @iYehuda, thanks for follow up. I'm the maintainer of https://github.com/kinvolk/lokomotive-kubernetes and we run `kube-hunter` as part of our CI process. We had some [issues](https://github.com/kinvolk/lokomotive-kubernetes/issues/145), that sometimes kube-hunter scanning was timing out, which was causing CI to fail.

It was happening on [Packet](https://www.packet.com/) platform, so you can f

[2020-02-18 07:28] itaysk commented on #301
why do we need pyinstaller, when we already distribute kube-hunter as a docker image?

[2020-02-18 09:19] iYehuda commented on #301
There are integrations such as Aqua CSP which embed kube-hunter inside a non python based docker image. Installing python makes the image bigger so they use PyInstaller to bundle kube-hunter as a single binary.

[2020-02-18 15:31] #301 closed

[2020-02-18 17:38] mag009 commented on #295
@iYehuda  when you run kube-hunter with

[code]
I doubt it's the expected behavior :)

[2020-02-19 19:00] iYehuda commented on #293
I managed to reproduce this issue by blocking HTTP using network policy.
This way kube-hunter discovers a host using ping, tries to probe an api endpoint it via HTTP and blocks.

[2020-02-19 19:11] iYehuda commented on #291
Hi @vitobotta, sorry for the delay.

Having no reported vulnerabilities by kube-hunter doesn't necessarily mean that your'e safe.
kube-hunter doesn't cover EVERY vulnerability in the wild, especially ones that aren't reported.
From network security perspective, sensitive services being accessible increases the attack surface and may lead to potential breaches and data leakage.
You can mitigate thi

[2020-02-19 19:11] #291 closed

[2020-02-19 19:28] vitobotta commented on #291
Hi @iYehuda , in the meantime I have solved by adding some cloud init config to the node template that is used by Rancher to create the servers, so that a firewall is configured, blocking access from the outside world to the API. When I run kube hunter this way it says it cannot find any clusters. Thanks

[2020-02-19 22:36] iYehuda commented on #138
Reopened since it is not merged.
We can avoid this action by examining default route instead.

[2020-02-19 22:39] iYehuda commented on #35
This issue looks a lot like #293.
The source of this bug is operations being made without timeout (HTTP requests and scapy packet sending).

[2020-02-19 22:42] iYehuda commented on #293
Thanks a lot @invidian!

You helped us figuring out an old [forgotten issue](#35).
I'm closing this in favor of that issue.

[2020-02-19 22:42] #293 closed

[2020-02-19 22:58] iYehuda opened #304 "Refactor Cloud Discovery"
## What would you like to be added
Separate behavior of specific cloud providers from generic discovery logic.
Make cloud discovery modular so more cloud providers can be supported.

## Why is this needed
kube-hunter currently support discovery of Azure environment (using metadata server) and provides a few hunters for Azure that in turn executes only when running in Azure.
This is a tightly coupl

[2020-02-19 23:01] iYehuda commented on #304
Initially implemented at #145 which was torn down into several issues.

[2020-02-19 23:08] iYehuda opened #305 "Improve packages imports/exports"
## What would you like to be added
Use static, direct imports inside packages.
Use packages `__init__` files to export nicer import paths.
Use `__all__` to declare exported values in `__init__` files for clarity.

## Why is this needed
There are currently dynamic and wildcard imports in kube-hunter packages when they aren't necessary.
Dynamic imports are not so good practice and become a burden wh

[2020-02-19 23:13] iYehuda opened #306 "Reduce event count using SubnetDiscovery"
## What would you like to be added
Create a SubnetDiscovery modules to scan network subnet and publish HostEvents only for found hosts.

## Why is this needed
kube-hunter currently publishes NewHost event for every IP address that is needed to be scanned.
This can generate unnecessarily large amount of events (64K in /16 subnets), which can be a problem if we will use an external message queue.
Ne

[2020-02-19 23:19] iYehuda opened #307 "Upgrade urllib3 dependency"
## What would you like to be added
Upgrade urllib3 to >=1.24.3 and remove upper version limit.

## Why is this needed
urllib3 dependency is not at >=1.24.2,<1.25.
Version 1.24.2 [is vulnerable](https://snyk.io/vuln/SNYK-PYTHON-URLLIB3-174464).
Version 1.25 is supported from python 3.5, we support python > 3.6 so there is no reason for upper limit (no breaking API for us).

[2020-02-20 00:01] iYehuda opened #308 "Use named loggers"
## What would you like to be added
Make modules use a named logger instead of global root logger.

## Why is this needed
Using a the root logger(i.e., use `logging.XXX`) is good for small code snippets but not for complicated code bases.
The root logger may have some side effects (#292).
Using named logger object can be useful for dependency inversion and testing.

[2020-02-20 01:11] iYehuda commented on #295
This is truly a permission error.
kube-hunter requires CAP_NET_RAW for doing some discovery operations.
We try to minimize its usage as mentioned in #138.

[2020-02-20 01:11] #295 closed

[2020-02-23 18:09] blrchen commented on #127
I am the owner of [azurespeed.com](http://www.azurespeed.com), you can try to use the alternative endpoint for this api, for example, [https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=65.52.170.210](https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=65.52.170.210), this endpoints use SSL cert provided by Azure Web App.

[2020-02-25 10:29] #289 closed

[2020-02-25 10:29] #292 closed

[2020-02-26 16:20] tempandk123 opened #312 "Fail to generate json/yaml report. Command line option not working"
### What happened

Following the last commit, when I run kube-hunter.py I cannot get the json (nor yaml) report anymore. The "--report" option does not seem to be working.

![image](https://user-images.githubusercontent.com/61027695/75364116-2d2e6300-5889-11ea-940d-68e0ec33123a.png)

### Expected behavior

I should get the report in a JSON format.

[2020-02-26 20:17] iYehuda commented on #312
Hi @tempandk123 !

Thanks for your report.
I have verified this in it looks like #310 created a regression.

@mormamn It looks like the factory implementation did not instantiated reporters and dispatchers.
This part should be tested.

[2020-02-26 20:19] mormamn commented on #312
@iYehuda , I apologize it's my bad for not testing.
Anyway, I'll make sure it wont happen again.
I'm on it, + test file.

[2020-02-26 20:40] #312 closed

[2020-02-26 22:17] #307 closed

[2020-02-26 22:36] iYehuda commented on #290
Solved in #302
Now we can run `python setup.py pyinstaller` to build with PyInstaller

[2020-02-26 22:36] #290 closed

[2020-02-26 22:42] iYehuda commented on #184
Closing for being stale.

[2020-02-26 22:42] #184 closed

[2020-02-26 22:44] iYehuda commented on #285
Closing for being stale.

[2020-02-26 22:44] #285 closed

[2020-02-26 22:46] iYehuda commented on #274
Closing for being stale.

[2020-02-26 22:46] #274 closed

[2020-02-26 23:06] iYehuda commented on #191
Closing as being stale.

[2020-02-26 23:06] #191 closed

[2020-02-27 12:37] #300 closed

[2020-03-02 23:10] #127 closed

[2020-03-03 10:53] abdullahgarcia opened #316 "Pytest failure."
### What happened

Running the command "pytest" renders the following message:

`pytest: error: unrecognized arguments: --cov=kube_hunter`

Environment:

- OS: OS X Catalina
- Python: 3.7.4
- pytest: 5.3.5

I believe the issue lies in the setup.cfg file, with the line:

`-addopts                                           = --cov=kube_hunter`

However, if the line is removed, I get the following ou

[2020-03-04 11:17] abdullahgarcia commented on #316
Update: the problem was due to an environment issue, I'll close this issue.

[2020-03-04 11:17] #316 closed

[2020-03-04 14:59] #35 closed

[2020-03-04 19:03] #308 closed

[2020-03-04 22:09] iYehuda opened #319 "Make hunters testable"
## What would you like to be added
Redefine hunters to get configuration as parameter.

## Why is this needed
Following dependency inversion principal, and in order to write testable code, it is better that hunters will be initialized with config as parameter instead of referencing a global state variable.

[2020-03-04 22:26] iYehuda opened #320 "Full linting standards"
## What would you like to be added
Use full [flake8](https://flake8.pycqa.org) functionality alongside [black](https://black.readthedocs.io/en/stable).
Use [pre-commit](https://pre-commit.com) for creating a pre-commit hook using black.

## Why is this needed
Currently we do a minimal linting check in CI and don't enforce code standards.
Taking advantage of all of flake8's capabilities can help pr

[2020-03-05 23:42] iYehuda opened #321 "Enable external plugins"
## What would you like to be added
Enable using plugins without the need to put code in `plugins/` folder.
We can use [pluggy]() for the mission.
In order to do that we should refactor the way we run hunters according to #339

## Why is this needed
Right now using plugins is not so useful since you need to put the plugin code inside kube-hunter source.
It will be more helpful to be able to create

[2020-03-10 02:25] jnschaeffer opened #322 "kube-hunter logs at INFO level when --log none is set"
### What happened
When using kube-hunter with `--log none` set, the program prints a warning and defaults to INFO:

[code]

### Expected behavior
When using `--log none`, I should not see any logs.

[2020-03-22 17:16] mormamn opened #324 "Optimize NewHostEvent get_cloud()"
## What would you like to be added
Right now in HostDiscovery.execute() we try to map out a cidr and assign a cloud to it, in the code only the first IP of a cidr is sent to the get_cloud() func(for example out of 192.168.0.1/24, only 192.168.0.1 is sent)
while we ignore a few facts:
1. The first IP might not exist in the cloud, but another might exist.
2. The first IP might exist in Azure, but an

[2020-03-23 17:49] shellw opened #326 "Add report option for unique flattened json output"
## What would you like to be added
A new **--report ndjson** feature that flattens and outputs node, service, vulnerability combinations as unique JSON results.

## Why is this needed
The current --report json option outputs json in one large chunk and does not map the relationship between nodes, services, and vulnerabilities. This makes it hard to ingest large amounts of output into a single entr

[2020-03-23 18:12] dustin-decker commented on #326
This would be very helpful when exporting logs to bigquery. It is difficult to query fields that are lists, and sometimes log lines exceed size limits in stackdriver (256kb) with the current JSON output.

[2020-03-26 19:58] iYehuda opened #329 "Log output redirection"
## What would you like to be added
Enable separation of report and log into two separate destinations.
Supply a configurable log output file.

## Why is this needed
In order to make kube-hunter automation and human friendly, we should enable separation of logs and reports in a convenient way.
Right now, log messages are being printed to the standard error and the report is written into the standar

[2020-03-29 19:54] iYehuda opened #331 "Hunters are not executed from PyInstaller built code"
### What happened
Tried to run compiled version of kube-hunter (via PyInstaller).
kube-hunter did not find anything.
Debug logs showed that very few events where subscribed at initialization.

### Expected behavior
kube-hunter showing report with findings.

The origin of this bug is dynamic imports (by looking at .py files at runtime).
We should avoid this since they are not necessary.
We need to

[2020-03-29 19:59] #324 closed

[2020-04-05 02:22] #320 closed

[2020-04-07 18:05] iYehuda opened #333 "Add documentation of coding standard"
## What would you like to be added
We should extend the contribution guide (`CONTRIBUTING.md`) with documentation about coding standards in this project.
We can alternatively create a `HACKING.md` file and put it there.

The documentation should include information about:
* Linting:
  * imports
  * literals
  * linting tools used in this project (CI/precommit hook)
* Testing:
  * Unit test standar

[2020-04-07 18:47] #296 closed

[2020-04-10 16:34] iYehuda opened #334 "Add tests for "active" mode"
## What would you like to be added
Active hunters cannot be registered in tests since it requires `config.active` to be set.
This cannot be done since import `kube_hunter` causes a default configuration to be loaded.
In order to make things right, we need to get rid of this side-effect behavior and instantiate the `handler` object with configuration as argument (i.e., dependency injection).
We als

[2020-04-12 13:56] #322 closed

[2020-04-13 00:38] iYehuda opened #336 "Dashboard hunter not working"
### What happened
There's a typo in https://github.com/aquasecurity/kube-hunter/blob/master/kube_hunter/modules/hunting/dashboard.py#L35.
This raises an attribute error which will be silently ignored and logged at debug level.
It impacts the dashboard hunter functionality.

### Expected behavior
Working dashboard hunter.

Originally reported by @mormamn.

[2020-04-13 01:06] #336 closed

[2020-04-14 00:08] iYehuda commented on #331
Resolved by #335

[2020-04-14 00:08] #331 closed

[2020-04-14 00:39] iYehuda commented on #287
Solved since build CI returned to function

[2020-04-14 00:39] #287 closed

[2020-04-14 01:01] iYehuda opened #339 "Split hunter definition and registration"
## What would you like to be added
Separate the logic of new hunter definition and registering it to an event handler.
The current implementation of subscribing new hunters is being made through `handler` - a global instance of `EventQueue` object.
In the moment we define our class, the handler singleton executes code that registers it into some data structures.
This practice is bad for since it i

[2020-04-14 01:03] iYehuda commented on #339
This is a major one so I'd like to get your opinion @lizrice @itaysk

[2020-04-16 11:21] cloudpea opened #340 "AAD Pod Identity blockInstanceMetadata flag - Kube Hunter couldn't find any clusters"
## What are you trying to achieve
KHV003 was flagged as a vulnerability when we first ran kube-hunter therefore we have enabled the blockInstanceMetadata flag in our aad-pod-identity helm chart to resolve this.

https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.featureflags.md#block-instance-metadata-flag

Upon running kube-hunter again the tool is now not able to scan the

[2020-04-20 00:29] iYehuda commented on #340
Hi @cloudpea, thanks for raising this issue.

Can you supply some information about the way kube-hunter is run (i.e., execution flags) and an output log (preferably in debug level)?

If you are using `--pod` than kube-hunter will try to access the metadata server to get network information. This step will fail since the instance metadata is blocked by policy.
kube-hunter should then fallback and s

[2020-04-20 12:51] iYehuda opened #341 "Split command line and configuration"
## What would you like to be added
Define a `Config` data class with all configuration values.
This class should be consumed by hunters and every other usage.
Make the main function instantiate the Config object with values parsed from command line.

## Why is this needed
Currently the configuration object is a `argparse.Namespace` object, which tightly couples
configration handling to argparse.
A

[2020-04-22 23:31] #334 closed

[2020-04-23 07:14] iYehuda commented on #340
@cloudpea Closing for now. Please reopen if you got any more related questions.

[2020-04-23 07:14] #340 closed

[2020-04-23 09:54] Eremiel opened #343 "missing --internal option"
### What happened
When running kube-hunter from pod I am getting message:
Kube Hunter couldn't find any clusters

found a solution to replace --pod arg with --internal https://github.com/aquasecurity/kube-hunter/issues/44
But this results in error:
kube-hunter.py: error: unrecognized arguments: --internal

was this option abandoned?

### Expected behavior
Kube hunter finds the cluster properly

[2020-04-23 12:28] iYehuda commented on #343
Hi @Eremiel

The flag `--internal` was renamed to `--interface` 7 months ago by [this commit](https://github.com/aquasecurity/kube-hunter/commit/44e6438d37fd6e2c8a1bfbf02b145003aef309d6)
Please refer to the [README](https://github.com/aquasecurity/kube-hunter/blob/master/README.md#scanning-options) for information about scanning options.

[2020-04-23 12:28] #343 closed

[2020-04-26 16:37] #341 closed

[2020-04-29 02:04] aldavidov opened #345 "kube-hunter: error: unrecognized arguments: --token"
Hi,

I'm trying to run kube-hunter after getting the command from here:https://kube-hunter.aquasec.com/

I'm getting and Error:
kube-hunter: error: unrecognized arguments: --token eyJ0eXAiOiJKV1QiLCJhbGciO

I managed to run the application locally.
Please advise.

[2020-04-29 09:47] vaskosdune opened #346 "Support scanning of vmware pks clusters"
## What would you like to be added

With vmware pks the default api port is 8443. At the moment a remote scan results in no clusters being found. I was able to fix this locally for me by adding the port to `kube_hunter/modules/discovery/apiserver.py` and `kube_hunter/modules/discovery/ports.py` .

## Why is this needed

This should be added to support remote scanning of vmware pks clusters.

[2020-04-29 15:25] lizrice opened #348 "Debug logs showing unexpected error in EtcdRemoteAccessActive"
`python3 kube_hunter --active --log DEBUG`

Logs include:
[code]

[2020-04-29 15:30] lizrice opened #349 "Debug log showing unexpected error in certificate hunting"
[code]

I suspect this got broken in moving to python3

[2020-05-06 11:13] mydockergit opened #352 "How to execute the exploit for found vulnerabilities ?"
## What are you trying to achieve
Using exploit on CVE found by kube-hunter.

## Minimal example (if applicable)

I run kube-hunter like that:
[code]

It found a vulnerable pod:
[code]

I ran it with `--active` flag but I don't see how it used the exploit for this CVE.
How can I use the exploit for CVE-2019-9512?

[2020-05-11 09:42] #349 closed

[2020-05-29 14:34] weddige opened #353 "Typo in ARP module"
The ARP module contains a type, that prevents it from running successfully:
https://github.com/aquasecurity/kube-hunter/blob/4484ad734fd59f40e473df59bb93d76d1c0867d6/kube_hunter/modules/hunting/arp.py#L58

Correct would be `timeout=config.network_timeout` instead of `timeout=config.netork_timeout`.

[2020-06-08 12:47] #353 closed

[2020-06-12 11:25] MSidda opened #356 "Docker container Kube-hunter --token issue command"
while running this command getting following error, i need to check vulnerabilities of my nodes on dashboard

docker run -it --rm --network host aquasec/kube-hunter --token <token>
kube-hunter: error: unrecognized arguments: --token

please help me

[2020-06-13 23:35] danielsagi commented on #356
Hi,
Currently kube-hunter.aquasec.com reports feature is down, we are working to fix this problem.
Please check in on the following pr #357
This problem is supposed to be fixed when this PR is approved.

[2020-06-13 23:35] #356 closed

[2020-06-14 08:33] mydockergit commented on #352
?

[2020-06-16 10:31] luciano-nbs opened #358 "Kube Hunter couldn't find any clusters - Pod Mode"
### What happened

Running the standard kube-hunter pod/job on an AWS EKS cluster returns the message `Kube Hunter couldn't find any clusters`

I've verified that i can manually connect to the API endpoint from within the pod using curl and the secrets available in the pod.
[code]

With DEBUG on kube-hunter enabled i see the following exceptions...
[code]

### Expected behavior
I should see the cl

[2020-06-19 09:24] danielsagi commented on #352
Hi @mydockergit
Thanks for taking an interest!
Currently kube-hunter does not exploit DOS vulnerabilities, the purpose of active hunting, is exploiting vulnerabilities or misconfigurations, in order to find more vulnerabilities.
Exploiting Denial Of Service will not help that in any case.

[2020-06-19 09:24] #352 closed

[2020-06-19 14:20] #321 closed

[2020-06-23 06:40] Jack47 opened #359 "CONTRIBUTING.md link is broken in README.md"
### What happened

link in [README.md](https://github.com/aquasecurity/kube-hunter/blob/master/README.md) about Guidelines For Developing Your First kube-hunter Module is broken.

### Expected behavior

[2020-07-01 17:25] lizrice commented on #358
I think this has been fixed as part of #342, but you've seen it because the kube-hunter image was broken and didn't get updated for a while. This is now sorted out and the latest image on Docker Hub got built two days ago, so this should be corrected now.

The logs show the following line

[code]

but the call to `canhaszip.com` was removed as part of #342.

@luciano-nbs please could you try it ag

[2020-07-03 08:59] #359 closed

[2020-08-05 14:24] thinksabin commented on #358
hi Liz,

Im using the master branch with latest commit (commit 2428e2e869b7e07d5cc154d25ebeaceb4cc2085f) and running the pod.yaml in the eks cluster still gives the message of cluster not being found. Despite that message, few information disclosure related issues are being flagged for example; explosure of token inside the pod, /var/run/secrets...
Is this the normal behaviour expected?
Thanks.

[2020-08-10 11:29] brondum commented on #345
Same here!
If i then use the :aqua tag from the registry it runs, but the report does not show at the web interface.
It just stops loading.

[2020-08-24 08:21] ssathyaji opened #366 "Kubernetes Job yml manifest changes"
### What happened

When we deploy job.yml for kubernetes cluster we are facing kube-hunter.py file not found error. Need to change the job.yml file changes.

### Expected behavior

Please use the followin yml file for kubernetes cluster.

[2020-08-25 06:41] brathina-spectro commented on #366
I ran into this too with Pod deployment.

**Job manifest Used**
[code]

**Error seen with pods scheduled**
[code]

[2020-09-01 21:15] ramakuka commented on #366
It's probably a dirty hack, but it worked as a simple workaround until the bug will get fixed
I replaced kube-hunber.py on the command to /usr/local/bin/kube-hunter and it fixed the problem

so the Job manifest
[code]

[2020-09-02 18:54] magnologan commented on #366
Had the same issue here and @ramakuka's new Job manifest suggestion worked fine here! You can probably submit this as the fix. Cheers!

[2020-09-03 05:22] ssathyaji commented on #366
When we consider the docker file we have to use as I added in the job.yml
file. Thanks Mgno for checking this.

On Thu, Sep 3, 2020 at 12:24 AM Magno Logan <notifications@github.com>
wrote:

[2020-09-03 14:25] lizrice commented on #366
Should be fixed by #367

[2020-09-03 14:27] lizrice commented on #358
I don't think this is specific to EKS - I've seen the same on a kind cluster running with `--pod`:

[code]

[2020-09-03 20:52] brathina-spectro commented on #366
@lizrice @danielsagi job.yaml documented stopped working only recently. I understand #367 will work, but is that the right fix ?

[2020-09-06 12:41] itaysk opened #370 "Azure AzureSpnHunter is not working as expected"
Azure AzureSpnHunter is not finding pods with access to /etc/kubernetes/azure.json
The code had a couple issues:
1. it checks the container mountPath, which only says about how the container sees the mount, not what is being mounted
2. it doesn't check the volume type. only hostPath volumes should be considered
I have a PR to fix that

[2020-09-07 12:18] itaysk opened #373 "Azure AzureSpnHunter is not working as expected"
As a followup to #370 I'm investigating some cases where `AzureSpnHunter` didn't work as expected. I think it should not subscribe to `ExposedRunHandler` but to a more generic event. I get why the `ProveAzureSpnExposure` should, but the vulnerability should be reported regardless. But maybe I'm missing something @danielsagi ?

[2020-09-18 12:33] ABHISHARMAV commented on #284
I have 2 cluster in gcp, I installed kube-hunter by using docker command. -
$docker run -it --rm --network host aquasec/kube-hunter:aqua --token eyJ0eXAiOiJKV1Qi.....
Choose one of the options below:
1. Remote scanning      (scans one or more specific IPs or DNS names)
2. Interface scanning   (scans subnets on all local network interfaces)
3. IP range scanning    (scans a given IP range)
Your choi

[2020-09-18 20:12] magnologan commented on #358
Yeah, I had similar issue on EKS today. The message appears on the bottom after the vulns are reported just like @lizrice posted above. Nothing major. Seems like normal behavior but the message at the bottom is a big confusing indeed.

[2020-09-18 20:28] magnologan opened #374 "Running Active Mode as Pod - How to?"
Hi there,

I'm running kube-hunter as a pod inside my cluster, but I've wanted to test the active mode (--active) as well, is that possible? https://github.com/aquasecurity/kube-hunter#active-hunting

I've tried to tweak the job.yaml file to add the --active flag in the args there, as such: args: ["--pod", "--active"], but I've got the same results. How do I know if kube-hunter at least executed t

[2020-09-24 15:36] MarkusTeufelberger opened #375 "KHV002 - proposed solution too invasive"
### What happened

After getting the error mentioned in the title, I looked into how to fix it and the solution proposed at the moment (completely disable the debugging handlers) seems too far reaching.

### Expected behavior

A solution as in https://github.com/kubernetes/kubernetes/issues/84040#issuecomment-585915168 is documented as a solution instead, which only disables this single endpoint f

[2020-09-29 01:05] skaegi commented on #358
We're seeing this too now. It might possibly be related to a difference between K8s 1.16 and 1.17 as I believe I saw this working 3 days ago on 1.16 but now api server access vulnerabilities are being missed. I'm using IKS which is a managed service so might also be a Calico update as part of the update to 1.17.

[2020-10-02 07:23] jabhishek87 commented on #329
can i take this ?

[2020-10-03 04:25] avats-dev commented on #333
@iYehuda I can work on this. Should I start? Also, I might need some help along the way. Thanks.

[2020-10-03 05:17] avats-dev commented on #305
@iYehuda can you elaborate a bit how to implement this? Thanks, I want to work on this.

[2020-10-03 19:39] avats-dev commented on #375
@MarkusTeufelberger How can this be resolved? I want to work on this. Thanks.

[2020-10-03 19:46] avats-dev commented on #373
Can I work on this? @itaysk can you guide me a bit in resolving this? Thanks.

[2020-10-05 08:33] Surajv311 opened #379 "Readme doc update"
## What would you like to be added

I would like to add the **License** section in the **Table of Contents** in the README.md file.

## Why is this needed

It has been added in a few other repos hence I believe it can be implemented in this repo as well.

@itaysk

[2020-10-05 08:51] itaysk opened #380 "Hacktoberfest at Aqua Security"
Dear community, we appreciate you and your contribution to the success of our open source projects! In celebration of Hacktoberfest, we would like to extend our appreciation and reward your hard work. This repository is participating in Aqua Security 2020 Hacktoberfest campaign. For full details and guidelines please visit the official repo: [Hacktoberfest at Aqua Security](https://github.com/aqua

[2020-10-05 08:58] itaysk commented on #379
Hello and thanks for opening an issue. While we do welcome improvements to the readme, the intention was to better document the usage and technical aspects of the project, rather than logistics or legal. We already have the license badge which is sufficient in this case.

[2020-10-05 08:58] #379 closed

[2020-10-05 09:00] Surajv311 commented on #379
Okay @itaysk 👍

[2020-10-05 09:17] itaysk commented on #375
Thanks @MarkusTeufelberger for reporting this.
1. I think we need to reconsider this "vulnerability". if KH is running outside the cluster then this is indeed an "information disclosure" issue, but if KH is running as pod maybe it's not an issue. We are still thinking about it (and appreciate any thoughts)
2. In the meantime, I'm happy to improve the documentation with information from that linked

[2020-10-05 09:42] MarkusTeufelberger commented on #375
The resolution would likely entail the one outlined in that thread (removing the `version` endpoint from the list of publicly viewable ones), not disabling a whole API.

I'd expect this solution (and its caveats) to be documented, not the one that disables the debugging handlers (which is also not documented too well, I'd expect for example a way to set this in `kubeadm` and a discussion of what e

[2020-10-05 09:45] itaysk commented on #373
Hi @avats-dev , the issue I raise here is that the AzureSpnHunter only kicks in after it sees an ExposedRunHandler. ExposedRunHandler means that KH has found an open /run endpoint on the kubelet that can be used to run any pod. I don't think that ExposedRunHandler should be a prerequisite for AzureSpnHunter, because maybe my cluster doesn't have the ExposedRunHandler (which is a cluster issue) but

[2020-10-05 09:50] itaysk commented on #366
@brathina-spectro can you please provide more info? what version of KH, how do you run it, what is the error you are getting? thanks

[2020-10-05 10:17] ssathyaji commented on #366
@brathina-spectro <https://github.com/brathina-spectro> . Yes this is the
correct fix. I was able to work with this fix without an issue. Pls provide
more info.
------------------------
Sanka Sathyaji

On Fri, Sep 4, 2020 at 2:23 AM brathina-spectro <notifications@github.com>
wrote:

[2020-10-05 14:08] gahag commented on #319
Can I work on this?

[2020-10-05 19:29] aroundarmor commented on #253
hello @itaysk,
I would like to contribute to it.
Can you provide me redirection where you want to add meanings of the words?

[2020-10-05 21:33] avats-dev commented on #373
Ok @itaysk , thanks for the insights.

[2020-10-06 02:10] anushkrishnav opened #381 "Greetings Github Action"
## What would you like to be added

Create a Contributor Greetings Bot

## Why is this needed
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.

[2020-10-06 07:02] Nibba2018 commented on #329
Is this issue still open @iYehuda ?

[2020-10-06 12:24] reegnz commented on #111
It seems to me that the evidence output is coming directly from python docstrings, and don't have an upper limit defined.
Just skimming through the Events, it seems to me that several strings go beyond 100 characters, so I'd say increasing it to ~100 would be a good first approximation.

[2020-10-09 06:22] swapniljha001 commented on #75
Is this issue still unresolved?

[2020-10-09 14:13] itaysk commented on #253
The categories documentation should go here: https://github.com/aquasecurity/kube-hunter/blob/master/docs/index.md
This page currently contains a copy of the readme which is not ideal, so while you're at it you can delete that and just link to the readme instead.

[2020-10-12 18:10] milindchawre commented on #329
assign @milindchawre

[2020-10-12 22:42] ng29 commented on #253
hey @itaysk  can i pick this up ?

[2020-10-13 13:44] itaysk commented on #253
I suppose you can but I have to say that there are fine nuances in these definitions that will probably require more than one iterations to fine tune. I you are confident that you fully understand these definitions than go ahead, thanks. @danielsagi do you have anything to add?

[2020-10-13 19:18] ng29 commented on #253
Some more info and pointers to start will be much appreciated..

[2020-10-15 18:23] endorama commented on #253
Hello! I'd love to help here!

Following along the "standard categorization", I got from #260 that [MITRE CWE](https://cwe.mitre.org/data/definitions/2000.html) would be an appropriate choice.

But referring to the nuances @itaysk is referring to how would you prefer to address them? Without a complete understanding of the code and how those Categories are used within `kube-hunter` understanding w

[2020-10-19 09:03] danielsagi commented on #374
Hi @magnologan ,
Currently we don't have an indicator in the report for the type of scan that occurred, If you want to debug this and find whether an active scan was running, you can add the flag: `--log debug` and see whether active hunters were registered. this will be visible at the start of the log.

[2020-10-19 09:40] danielsagi commented on #111
@reegnz actually evidence output does not come from docstrings, it can come from all sorts of IO operations, depending on the hunter that finds it. but It might be good to enlarge the limit

[2020-10-19 09:49] #111 closed

[2020-10-19 10:53] #370 closed

[2020-10-21 14:37] danielsagi commented on #358
@magnologan
Could you please run the master branch again in your setup with `--log debug` ?
I would like to see why this is happening. Are you able to get the version from within the new master branch pod using curl?

[2020-10-25 18:55] hugovk opened #395 "Migrate tests to GitHub Actions"
Repo: https://github.com/aquasecurity/kube-hunter

I suggest running tests using GitHub Actions:

* It has 20 parallel runners compared to officially 5 on Travis, but nowadays often 4 or less

* Easy to test on Ubuntu 16.04, 18.04 and 20.04

* We can put lint in a separate build job, so if something fails it's obvious right away if the problem is linting or the tests, without clicking through and

[2020-10-25 18:58] hugovk opened #393 "Support Python 3.9"
Repo: https://github.com/aquasecurity/kube-hunter

Python 3.9 was released this month (2020-10-05):

* https://www.python.org/dev/peps/pep-0596/

I recommend supporting this version too, in addition to 3.6-3.8.

A Trove classifier would need adding to declare support on PyPI.

It's important to test supported versions, as removed deprecations can otherwise cause surprises, and so it needs adding t

[2020-10-25 19:01] hugovk opened #394 "Upgrade syntax for supported Python versions"
Repo: https://github.com/aquasecurity/kube-hunter

The minimum version supported is Python 3.6, meaning the code can be upgraded to make use of newer syntax, and best of all: f-strings!

There's some other updates possible too, such as merged exceptions, simplifying `super` and class definitions for objects.

[2020-11-07 13:01] #329 closed

[2020-11-07 13:59] #393 closed

[2020-11-10 14:20] varshabhijeet opened #404 "not able scan individual ip of node"
I have installed kube-hunter on gke cluster ,but when I hit command kube-hunter and selected option 1 ,in that I have put ip of node which getting from from kubectl get nodes -o wide ,then it gives error couldn't find cluster.  If create pod and checked logs of kube-hunter that method works fine .[when cluster implemented on on premise then all everything working fine.Only on cloud it give above e

[2020-11-12 05:10] yashsaurabh commented on #404
yes the same issue i am also facing !!!!

[2020-11-12 18:04] danielsagi commented on #404
Hi, @varshabhijeet
Can you provide more details about the machine you are running kube-hunter from? I see you use the internal IP of the node, can you access this IP? have you tried using the external IP?

[2020-11-13 05:57] varshabhijeet commented on #404
Yes I have tried by both IP but  got same result

[2020-11-13 05:58] varshabhijeet commented on #404
In case of AWS i have tried from ubuntu machine from which I have connected to  kubernetes cluster

[2020-11-15 14:16] danielsagi commented on #404
@varshabhijeet can you try running kube-hunter as a job inside the cluster?

[2020-11-15 14:17] danielsagi commented on #404
Also please run with `--log debug`, this will help us alot with solving this problem

[2020-11-15 14:24] danielsagi commented on #374
@magnologan
Sorry for not being clear, it looks like you passed `--active` right, so an active scan probably did run.
You're right though, we should think about adding an indicator in the scan itself about the type of scan that was running

[2020-11-15 14:24] #374 closed

[2020-11-15 14:26] danielsagi commented on #348
This was solved in #360

[2020-11-15 14:26] #348 closed

[2020-11-15 14:28] danielsagi commented on #345
@aldavidov @brondum
Hi, The issue was now solved and the flow of the site UI scan is working, Try it!
Currently we are working on a new design, so stay tuned :)

[2020-11-15 14:28] #345 closed

[2020-11-15 14:35] danielsagi commented on #177
@iYehuda @pepov
You're right, the actual check of the volumeMount is in the ActiveHunter, perhaps its best if we check it as well in the passive one, given that it is already accessible by the /pods data.

About the other issue, subdirectories for /var/log are considered dangerous as well, given that the kubelet serves the entire /var/log directory hierarchy.

[2020-11-15 14:48] danielsagi opened #405 "Update KB index links to reference AVD"
A new project has woken by aqua, [avd](https://avd.aquasec.com)
We want to update the links kube-hunter is generating regarding the KHVxxx to reference the site

[2020-11-15 15:23] danielsagi opened #408 "Proving system logs outputs misleading evidence"
When the `/logs` endpoint is exposed, and an active scan is running, we try to parse the file `/var/log/audit/audit.log`
This file down not necessarily exist. for now we at least need to specify that we did not manage to prove this in the evidence.

Next step is implementing another way of proving this in a more versatile way

[2020-11-15 16:30] magnologan commented on #374
Yes, that's correct. Ok, it makes sense now. Thanks a  lot @danielsagi!

[2020-11-15 17:52] danielsagi opened #410 "False positives on ExposedRunHandler"
Until now we relied on a Method not allowed response status code (405) when querying for a dummy request to the `/run` endpoint.
While it is a sign that we passed Authorization, it does not mean that the endpoint is enabled. When debug handlers are disabled the status code remains the same.
This resulted in a False positive, so even when debug handlers are disabled, we raised an `ExposedRunHandler

[2020-11-16 18:40] #394 closed

[2020-11-17 04:47] varshabhijeet commented on #404
yes kube hunter pod working inside cluster but from remote machine access to cluster  not possible.

[2020-11-17 04:47] varshabhijeet commented on #404
Remotes (separated by a ','): 35.185.215.135
2020-11-10 13:54:37,802 DEBUG kube_hunter.core.events.handler Event <class 'kube_hunter.core.events.types.HuntStarted'> got published with <kube_hunter.core.events.types.HuntStarted object at 0x7fd7104309b0>
2020-11-10 13:54:37,802 DEBUG kube_hunter.core.events.handler Event <class 'kube_hunter.core.events.types.HuntStarted'> got published with <kube_hu

[2020-11-17 12:03] #405 closed

[2020-11-18 09:35] #408 closed

[2020-11-19 15:41] #410 closed

[2020-11-25 10:10] leozheng2000 commented on #358
i got same issue for eks : ths debug info:  @danielsagi
The Job "kube-hunter" is invalid: spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{Name:"", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{wall:0x0, ext:0, loc:(*time.Location)(nil)}}, DeletionTimestamp:(*v1.Time)(nil), DeletionGracePeri

[2020-11-27 14:00] danielsagi opened #413 "Implement Port Forward Test Hunting"
## What would you like to be added

Adding an implementation for reporting an open `/portforward` debug handler
[](https://github.com/aquasecurity/kube-hunter/blob/14ca1b8bcef9822aeda2f6992450822bdc957e41/kube_hunter/modules/hunting/kubelet.py#L346)

## Why is this needed

Currently there is no indication for the existence of this handler.
The goal is adding a way of testing this is open, without

[2020-11-28 15:34] #395 closed

[2020-11-28 17:04] #177 closed

[2020-11-28 17:04] #380 closed

[2020-11-28 17:12] danielsagi commented on #404
@varshabhijeet looks like normal behavior.
This is not a problem in kube-hunter, this ip of the node is probably not accessible from where you are running kube-hunter.
I can further help you to figure out why this is happening but I would recommend just running kube-hunter as a pod inside your cluster.

[2020-11-28 17:12] #404 closed

[2020-11-28 17:15] #120 closed

[2020-11-28 17:46] danielsagi commented on #305
this is outdated. already implemented :)

[2020-11-28 17:46] #305 closed

[2020-11-28 18:01] danielsagi opened #417 "Cloud discovery is broken"
### What happened

`api.azurespeed.com` does not exist anymore. we need to replace this dependency. and perhaps think of a better way, without relying on this external service.
related #107

[azurespeed api link](https://github.com/aquasecurity/kube-hunter/blob/693d668d0a39f878526c1eb29fb378392b241e17/kube_hunter/core/events/types.py#L147)

[2020-11-28 18:03] #381 closed

[2020-11-28 18:10] danielsagi commented on #373
@itaysk The original problem I had with registering to a more generic event, is that we still dont have a multiple subscribe mechanism. #271
If we were to only register to a more generic event, then in the case an active scan was initiated, we would run `ProveAzureSpnExposure` with no knowledge if the /run handler is opened. and we need to register the active hunter only to `AzureSpnExposure` .

P

[2020-11-28 18:26] #366 closed

[2020-11-28 18:31] danielsagi commented on #75
@swapniljha001 Yes

[2020-11-28 18:49] danielsagi commented on #358
Hi @leozheng2000
Your issue is unrelated, you get a problem in the yaml file. you need to delete the job before you create a new one.

[2020-12-03 15:11] #138 closed

[2020-12-03 20:19] danielsagi opened #418 "Pyinstaller is failing"
### What happened

When compiling using `make pyinstaller`
there is a runtime error that occurs when starting any scan:
[code]

### Expected behavior

prettytable should be integrated correctly.

### reference
There is a [discussion ](https://github.com/pyinstaller/pyinstaller/issues/4809) regarding this issue in pyinstaller repository.

Adding a specific import hook for pyinstaller should fix thi

[2020-12-04 11:43] #418 closed

[2020-12-09 13:32] blrchen commented on #417
The api url has been changed, here is an example for invoking with new api url:
https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=www.azure.com

[2020-12-09 13:49] danielsagi commented on #417
@blrchen does it contain info on other cloud ips other than azure?

[2020-12-09 13:58] blrchen commented on #417
It's for azure only so far

[2020-12-16 20:36] eizieizi opened #426 "kubehunter does not work using docker Image or kubernetes pod"
## What are you trying to achieve

Hi guys,
first - thank you for your great work here.

Unfortunately we are facing an issue while trying to run kubehunter via a pod in our kubernetes cluster and the supplied job.yaml or directly on a node via the docker image. We always do get the following error in the pod/docker logs:

`Traceback (most recent call last):
  File "/usr/local/bin/kube-hunter", li

[2020-12-18 20:03] iii235 opened #428 "Scan From List"
## What would you like to be added
A flag/arguement that will let kube-hunter scan a list of kube-servers.

## Why is this needed

[2021-01-07 17:46] #373 closed

[2021-01-15 05:03] ragashreeshekar opened #432 "How to run active scan via kube-hunter kubernetes job?"
While there are 3 options to run kube-hunter on a remote cluster, In my case, the pip method says there are no vulnerabilities via remote, ip or interface scan method. However the kube-hunter job does provide a couple of results.
Would like to understand if there is a means to run the kube-hunter job to execute active scans. Kindly advise.
Thanks in advance

[2021-01-17 14:06] danielsagi commented on #432
Hi @ragashreeshekar
To run an active scan using the job method, add a `--active` flag as an argument in the yaml

[code]

[2021-01-17 14:06] #432 closed

[2021-01-17 14:49] danielsagi opened #433 "Make thread count configurable"
## What would you like to be added
Add a flag `--threads` to change the default 800 [thread count of the event handler](https://github.com/aquasecurity/kube-hunter/blob/99678f3cac8734c1102e541d9a3d76e1f1412018/kube_hunter/core/events/handler.py#L160)

## Why is this needed
In some environments, like #426 the 800 thread count is too much. this crashes the process when trying to open more threads.

[2021-01-17 14:52] danielsagi commented on #426
Hi @eizieizi
I opened an issue regarding this problem.
I'm sorry you're having this issue on your environment. from our testing we never encountered this problem. this is why we made the thread count hardcoded.

Until we add a flag to make this configurable (#433) An easy fix for this is lowering the thread count by editing the line mentioned in the issue.

[2021-01-17 14:52] #426 closed

[2021-01-17 14:57] danielsagi opened #434 "Add integration tests using KIND"
## What would you like to be added
Add E2E tests using KIND and kubernetes goat.

## Why is this needed
We're currently relying on basic tests, as kube-hunter results are heavily dynamic for specific envs. integration tests will help us identify regression and other bugs related to specific environments.

[2021-01-19 09:18] ragashreeshekar commented on #432
Thanks! This helps.

[2021-01-19 13:07] eizieizi commented on #426
Thanks a lot for the hint, its working now!!!
Best regards

[2021-01-19 19:28] n1shant-sinha opened #435 "kube-hunter throwing python library error during installation"
## Kube-Hunter installation issue on Python 2.7 and 3.8.3.

it is showing me the following error each time I am trying to install the tool.

![image](https://user-images.githubusercontent.com/8848453/105082964-4b352100-5a62-11eb-8dc0-f18dab099f33.png)

## Minimal example (if applicable)

[2021-02-06 21:07] danielsagi opened #437 "Improve interactive usage with using Cmd package"
## What would you like to be added
Right now the interactive usage of kube-hunter is implemented manually.
this is not readable and could be improved by replacing this old code with [cmd](https://docs.python.org/3/library/cmd.html) package

[2021-02-17 11:56] aayu-gehlod opened #438 "Kube Hunter couldn't find any clusters for openshift worker nodes"
While running kube-hunter --remote for master-nodes a report is generated but getting "Kube Hunter couldn't find any clusters" when giving worker-nodes-ip

kube-hunter --remote worker-node-ip
output: kube Hunter couldn't find any clusters

[2021-03-17 13:47] k-p-ani opened #440 "When should kube-hunter be run in active mode"
Hello everyone,
 Has anyone used kube-hunter in active mode ? Ideally when should we use active mode and how frequent we should run? Should we create a new Kubernetes cluster which is identical to production cluster and with same work load and then run kube-hunter in active mode against this new production like Kubernetes cluster to find vulnerabilities ?

[2021-04-09 17:46] dschveninger opened #442 "TLS k8s configuration scanning"
## expand Kuber-hunter

Would the following Use Case be something that kube-hunter can support.

Find the known ip and ports on the public and private networks in a cluster.  Either by CICD scanning or k8s resource queries. Take a list of ip and ports to scan and provide the following data.
1) active listener
2) see if it support tls
3) collect tls data
4) either report or allow to assert about th

[2021-04-11 06:19] danielsagi commented on #442
Hi, what youre suggesting here is actually already partially implemented. We have the [Certificate Hunter](https://github.com/aquasecurity/kube-hunter/blob/1a26653007ae2c82db04ac73a5d336f2336db772/kube_hunter/modules/hunting/certificates.py#L32) which subscribes to all known Services. Checks for tls, and extracts email addresses from the returned ssl cerificate.

Do you have some more ideas on oth

[2021-04-12 08:39] bret99 opened #443 "stealth scanning"
Default scan method is SYN. But it's detected on most enterprise AV's. Is it better to make stealth scan like in all loved nmap?

[2021-04-13 13:07] danielsagi commented on #443
We would love to improve stealth. what are your specific suggestions?

[2021-04-14 17:01] dschveninger commented on #442
I will have to looking into that and what it exhaust over email address. Will review and get back. Thanks.

[2021-04-15 14:53] danielsagi opened #444 "Secrets Mounts Hunter"
## What would you like to be added
Research about possible dangerous outcomes of having a pod with a readable mount to `/etc/kubernetes/pki/`
* Add a Passive + Active Hunter that utilizes this.
* Create a KHxx.md file explaning about this issue

[2021-04-15 15:59] danielsagi opened #445 "Instance Metadata Hunter(s)"
## What would you like to be added
New (set of) Instance Metadata Hunter(s)
Intuitively. Will only run on a `--pod` scan
Add a Passive + Active Hunter that will scan Instance Metadata Services for each cloud provider.

Research on:
* AWS: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html
* Azure: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ins

[2021-04-15 16:19] danielsagi opened #446 "Sensitive Information Hunter"
## What would you like to be added
Hunter which subscribes to specific mount vulnerabilities,
And tries to extract sensitive information for further exploitation.

For example:
* Reading history file from home directory mount for the `kubeadm --token` command line

Other:
--------
Other ideas are welcome

[2021-04-16 05:33] bret99 commented on #443
May be you should use flag "S" in arp.py like this => https://dev.to/ankitdobhal/syn-stealth-scan-with-power-of-python-scapy-58aj

[2021-04-20 01:37] jan0ski commented on #45
This issue looks quite stale, is someone still working on this?  I'll pick this up if nobody minds.

[2021-04-21 14:41] raesene opened #449 "kube-public information disclosure hunter"
## What would you like to be added

In default kubeadm clusters (and probably others) there is a default namespace created called `kube-public` which is intended for public information. There is a `configmap` in that namespace called `cluster-info` which contains the TLS certificate of the API server.

Sample curl request to retrieve it

[code]

A handy fingerprinting hunter (e.g. when scanning a

[2021-04-21 17:57] #45 closed

[2021-04-24 11:58] danielsagi commented on #449
Looks really cool. are there another publicly accessible resources from there we could scan? do you want to take the development  of this on you?

[2021-04-24 12:56] danielsagi commented on #443
Hi, our current scan does the same thing, we try to use connect, which basically just sends a SYN packet to the server. also scapy requires CAP_NET_RAW being enabled, so we don't want to require that on basic operations such as port scanning.
@bret99

[2021-04-27 13:35] raesene commented on #449
It'll depend on the exact Kubernetes distribution in use. for a modern version of kubeadm, these paths are likely to be visible

[code]

As to development, python is not a language I'm super familiar with, so if someone else has time to take it on, that'll be cool. I can have a look but it's unlikely to be soon :)

[2021-05-05 10:33] dbernues opened #452 "Pod mode cannot find subnets in AWS EKS"
### What happened

  I tried to run kube-hunter in pod mode using the job in `kube-hunter/job.yaml` but the end result is always that "Kube Hunter couldn't find any clusters" and the only vulnerabilities it can find are those local to the pod where kube-hunter is running.

I thought at first this had to do with pod permissions, but after running kube-hunter with `--log debug` I saw an error having

[2021-05-05 11:50] danielsagi commented on #452
Thanks for noticing!
Thats a bug in our new feature for aws scanning in release v5.0.0

Currently you can run with tag v0.4.1.
We will release a new release to fix this later this week 👍👍

[2021-05-27 18:41] #452 closed

[2021-05-28 12:06] dbernues commented on #452
@danielsagi Thanks for the latest release! Will you also be updating the image on Docker?

[2021-05-28 12:25] danielsagi commented on #452
We have github actions that should automatically publish everything. Ill take a look at why the release is not there..

[2021-06-05 13:07] danielsagi opened #456 "Add client certificate support"
## What would you like to be added
PR #85 was starting to implement this.

Implement this with kube-hunter's updated architecture.
Client certificate should be added to the session object of the Event.

## Why is this needed
In some configurations, client certificate is required to authenticate to Kubernetes services. Another implementation could be to use client certificates mounted from a pod. B

[2021-06-05 13:09] danielsagi commented on #326
+1

[2021-06-10 20:57] danielsagi opened #457 "Add a prebuilt job yaml to kube-hunter's site"
## What would you like to be added

Add a job yaml with generated token for easy deployment on incluster scans.
https://kube-hunter.aquasec.com/

## Why is this needed

Right now kube-hunter's official site only displays a generated docker run command. For in cluster deployment this would save a lot of trouble and provide easy e2e deployment.

[2021-06-23 09:43] mrunalinir opened #459 "kube-hunter listing different nodes"
I have an eks cluster  at 172.20.x.x with 3 worker nodes running. When I use the interface mode on the cluster network, it's listing the 3 nodes at the worker node locations and an additional node at 192.68.x.x and 2 others. Additionally, in pod mode it is showing 4 nodes at 172.20.x.x, 2 of the worker node ips and one of the additional ips from the locations found in interface mode. I was wonderi

[2021-06-23 18:15] danielsagi commented on #459
Hi @mrunalinir
When running kube-hunter in interface mode, kube-hunter iterates on all of your locally accessible subnets to find nodes.
When running in pod mode, it does the same, but it also manually accessing the predefined service ip address of the api server (from an environ 'mounted' inside the pod). This could probably explain the extra node you're seeing.
Behind the scenes this probably me

[2021-06-24 14:49] danielsagi opened #460 "Change categories to correlate with mitre attack matrix"
## What would you like to be added

Change categories for vulnerabilities, and add a corresponding field for MITRE correlation.
Update kube-hunter's KB with related info

Match this as close as possible:
https://www.microsoft.com/security/blog/2021/03/23/secure-containerized-environments-with-updated-threat-matrix-for-kubernetes/

## Why is this needed

When we started kube-hunter, there were no g

[2021-06-24 15:17] danielsagi opened #462 "Change all direct use of requests to use the event's session object"
## What would you like to be added

On some hunters, we still directly use `requests.get`
This should not be the case, all events should have a Session object. which we set authorization on it on early stages.
Hunters should not manually specify headers on requests.

[2021-06-24 15:22] danielsagi commented on #440
Hi @k-p-ani
I didn't see you there.
Active hunting just means that kube-hunter can do active actions against the cluster. creating pods for example. this does mean that it will generally produce more output.
If you don't want this behavior in your production cluster you should run it in passive mode.

[2021-06-24 15:22] #440 closed

[2021-06-24 15:24] danielsagi commented on #438
While kube-hunter is not directly built for Openshift, it will sometimes work. You can try to run it inside the cluster and see if there's a change in the output.
But we don't officially support openshift at this moment...

[2021-06-24 15:24] #438 closed

[2021-06-24 15:25] danielsagi commented on #435
This was fixed for a while now :)
Closing

[2021-06-24 15:25] #435 closed

[2021-06-26 14:15] danielpacak opened #465 "Cluttered JSON output in KH v0.5.2 run as K8s pod"
### What happened

Integrated KH with Starboard so it runs with JSON output format as K8s pod. Then we parse the logs. I realised that in v0.5.2 parsing JSON output fails due to stack trace added by KH before the actual JSON content:

[code]

### Expected behavior

Error or valid JSON output. Not both. Otherwise it's hard to determine whether KH failed or succeeded.
I did not bump into such issue

[2021-06-28 12:20] mrunalinir commented on #459
Hey @danielsagi . On further scrutiny, I checked that in pod mode, it has detected 2 kubelet APIs, one of which belongs to the node that the pod is running on and another random IP, in addition to the public IP of the APIServer

[2021-06-28 12:22] mrunalinir commented on #459
Hey @danielsagi on further scrutiny, I noticed that in pod mode, it is detecting 2 kubelet APIs (one is of the IP of the node and the other is a random IP similar to it which does not map to any other node in the cluster) in addition to the APIServer. I wanted to confirm if in pod mode, it only checks the node it is running on (which is maybe accessible by 2 IPs) in addition to the API server

[2021-07-08 12:25] RSE132 opened #467 "kube-hunter fails to list node using list_all_k8s_cluster_nodes of module kubernetes_client.py"
###  kube-hunter fails to list node using list_all_k8s_cluster_nodes of module kubernetes_client.py

I tried to create a JOB using the jobs.yaml file in the repo. It does create a job and spins up a pod, while looking into the POD logs I could see that it reports error while listing nodes -

2021-07-08 12:10:16,074 INFO kube_hunter.modules.report.collector Started hunting
2021-07-08 12:10:16,074 I

[2021-07-10 22:35] danielsagi commented on #467
Hi @RSE132
Thanks for reporting!
Ill take a look at this and will get back to you.

[2021-07-10 22:39] danielsagi commented on #465
@danielpacak
Thats because of a bug in a new feature weve added.
But anyways, by your question I understand you run kube-hunter with --log error. A better practice that will also solve this issue is running with --log none.
This way even if we have some error internally with kube-hunter it will not mess up the report output

[2021-07-16 12:34] AljoschaP opened #469 "Print table failed due to not supported less than compare between string and IPAddress"
### What happened

The following error happens when running kube-hunter with the following definition on k8s v1.21.2:

[code]

![image](https://user-images.githubusercontent.com/12294054/125947688-cb7e80ff-c34e-47d8-bed2-d442092e96b9.png)

### Expected behavior

The table should be generated and printed to stdout

[2021-07-19 14:13] shresthsuman commented on #467
@RSE132 @danielsagi same error.
Cluster: 1 master and 3 worker node cluster hosted in hetzner cloud. (v1.21.0)

[2021-07-20 14:17] danielsagi commented on #467
Hi @shresthsuman and @RSE132
Could any of you provide output of a run with `--log debug` ?

[2021-07-21 14:27] shresthsuman commented on #467
Hi @danielsagi I do not understand which command you mean.
Since I am running kube-hunter as a pod inside my cluster.
Here are some information -

`kube-hunter-deployment.yaml` file -
[code]

How am I running it -
`kubectl apply -f kube-hunter-deployment.yaml`

Outputs from logs `kubectl logs kube-hunter-94dzj` -

[code]

* Some more info -

[code]

[code]

[code]

[2021-07-22 12:08] danielsagi commented on #467
@shresthsuman Sorry for not clarifying.
I meant, add the following flags to the yaml:
change:
[code]
To:
[code]

From what I'm seeing now the behavior is mostly normal. the default service account which kube-hunter gets deployed with does not have permissions to list nodes. so the ERROR is raised (This is considered a bug. we should only display a warning for this.)
I also don't think this is the

[2021-07-22 12:25] danielsagi commented on #469
Thanks for reporting!
This looks really weird. could you provide the full debug log data? @AljoschaP

[2021-07-22 13:49] julien-sugg commented on #469
Hi,

I started playing with kube-hunter today with my playground cluster on GKE and I am facing a similar issue when I create a dedicated NetworkPolicy for the Pod.

# Current Setup

## Versions

kube-hunter: `v0.5.2` built from the Dockerfile in the repository for tag 0.5.2
kubernetes: `v1.19.10-gke.1600` (Server) and `v1.19.4` (Client)

## Manifests to reproduce

The simplified manifests below a

[2021-07-22 16:09] shresthsuman commented on #467
Hi @danielsagi

Here are the logs with added flags to the arguments -

[code]

[2021-07-22 16:23] danielsagi commented on #467
Hi @shresthsuman
I see there might be a bug with aws metadata api discovery which might be the reason kube-hunter can't find your nodes.

Can you exec into a pod in your cluster in issue some curl commands I'll supply?
This would help me in figuring out the source of the problem.

[2021-07-22 16:58] danielsagi commented on #467
@shresthsuman
Thanks for your debug logs, I found that there was a big unwanted behavior in our hosts discovery when running on aws!
Until now if kube-hunter detected you run inside AWS, he will only try to discover through the metadata api.
In your case it seems it failed, so kube-hunter just stopped the discovery process whatsoever.

Anyways, I fixed that and I plan to release a version for this

[2021-07-23 09:11] shresthsuman commented on #467
Hi @danielsagi, just fyi, we are running our K8s cluster on Hetzner servers.

For the next steps, I will use your private docker repo and provide you the debug log again.

Also, I you want, please share the curl commands.

[2021-07-23 09:32] shresthsuman commented on #467
Here are the logs for `danielsagi/kube-hunter:bugfix-aws`:

https://raw.githubusercontent.com/shresthsuman/kube-hunter-logs/main/logs.txt

[2021-07-23 18:09] #467 closed

[2021-07-27 22:59] grosser opened #472 ""Found vulnerability" message should include an identifier or URL to not have to google what they mean"
## Why is this needed

the logs of kube-hunter Pod are not very helpful, for example
[code]
now I have to go and google around for what they mean and if/how I should fix them

[2021-07-27 23:24] grosser opened #473 "list of all vulnerabilities is not in sync with code"
### What happened

https://aquasecurity.github.io/kube-hunter/kbindex.html
does not include
- CAP_NET_RAW Enabled
- Access to pod's secrets
... possibly more

### Expected behavior

should list all vulnerabilities

[2021-08-19 16:17] danielsagi commented on #472
Hi, The logs are there just until the report is shown, how did you ran kube-hunter?
did you see the full report at the end?

[2021-08-19 16:56] grosser commented on #472
running a kubernetes pod
[code]

I only see `Found vulnerability` not sure if this is the full report or not

[2021-08-20 06:45] DiptoChakrabarty opened #475 "Cluster Not found - bare python installation"
### What happened
Kube Hunter returns back cluster not found

I have installed kube-hunter using pip in a virtual environment , however I keep  getting an error of cluster not found in output
I am attempting to perform a remote scan using the python package from a terminal
### Expected behavior

Should return the list of vulnerabilities present

Provide list of vulnerabilities and report
![Selecti

[2021-08-20 13:51] danielsagi commented on #475
Hi, can you run again with `--log debug` flag?

[2021-08-20 15:22] DiptoChakrabarty commented on #475
2021-08-20 20:50:03,632 DEBUG root <class 'kube_hunter.modules.report.collector.Collector'> subscribed to <class 'kube_hunter.core.events.types.Vulnerability'>
2021-08-20 20:50:03,633 DEBUG root <class 'kube_hunter.modules.report.collector.Collector'> subscribed to <class 'kube_hunter.core.events.types.Service'>
2021-08-20 20:50:03,633 DEBUG root <class 'kube_hunter.modules.report.collector.SendFu

[2021-08-20 15:22] DiptoChakrabarty commented on #475
pasted the output

[2021-08-24 07:24] NickYan7 opened #476 "How to get result to a file by using `docker run` ?"
## What are you trying to achieve

To get a report file, or redirect result to a file when I use kube-hunter by `docker run`.

## Minimal example (if applicable)

Nice job!
And how can I redirect the result when I use docker to deploy the kube-hunter?
Such as I execute `docker run -it --rm --network host xxx/kube-hunter`, the `--log-file` is not work...
If I execute `docker run -it --rm --network

[2021-08-26 05:24] DiptoChakrabarty opened #477 "Modify Error Message"
## What would you like to be added
Currently if a node is unreachable by the DNS or ip address in bare python installation of kube hunter it returns an error of Kube Hunter couldn't find any clusters . This error message can be modified to something like Host is inaccessible or cluster is inaccessible/unreachable.
This message has to be modified https://github.com/aquasecurity/kube-hunter/blob/473

[2021-08-30 11:20] danielpacak commented on #465
Got it. Thanks for the hint. We'll update the log level appropriately.

[2021-08-30 11:20] #465 closed

[2021-09-02 04:02] #476 closed

[2021-09-04 15:38] AljoschaP commented on #469
Sorry for the late reply. I think the issue of @julien-sugg  is the same as the one that occurs in our cluster.

[2021-09-08 17:48] tobybro commented on #358
So is there an update for this? Is the message just a red herring if it spits out vulnerabilities beforehand like https://github.com/aquasecurity/kube-hunter/issues/358#issuecomment-686530347

[2021-09-21 18:37] CheyenneForbes commented on #48
Any official aquasecurity maintained chart coming soon? The helm/charts repo is now obsolete.

[2021-10-03 12:49] sgaist commented on #462
Hi,

Thanks for this interesting project.

I would like to take help with the move from direct request to session however something is not clear: should the session object be directly created in the Event base class ?

For example:
- ApiServiceDiscovery has it's own session.
- SecureKubeletPortHunter copies its session to the event.
- ProveRunHandler uses the one from the event and does not have a

[2021-10-10 12:43] mrrobothack1 opened #479 "GKE kube-hunter issue"
I am installing the kube-hunter in gke cluster in GCP cloud.

I am using this image `aquasec/kube-hunter` which is present in the DockerHub

But when im applying it the kube-hunter is not working.. Its because of the IP ranges which im not able to pass through command in k8s job.yaml file.

if i run this docker file locally and passing` --remote HOSTIP` this will work.

[code]

[2021-10-11 15:48] moritzluedtke opened #480 ""Unrecognized K8s API" and having zero vulnerabilities in old K8s version"
I'm just trying to figure out if kube-hunter is working correctly here.

We have a k8s-cluster using `v1.18.9`. I ran `kube-hunter --k8s-auto-discover-nodes --kubeconfig ~/.kube/config` locally on my machine which has network access to the cluster.

The output is the following:
[code]

## Questions
1. Why is the K8s API unrecognized? Is that something to be concerned about
2. I'm a little bit scep

[2021-10-29 05:23] DiptoChakrabarty opened #483 "Validation for Remote Scanning Ip address provided"
## What would you like to be added

If an invalid ip address or node host name is provided , kube hunter still proceeds its process instead it should throw an error that the entry provided is incorrect

![Selection_039](https://user-images.githubusercontent.com/45638240/139380097-4d8b5937-9b27-4396-b0d6-5ee0ff32a1b2.png)

here for example a string is provided and kube hunter does all the port scan

[2022-01-17 13:15] revshell0 opened #486 "Ran kube-hunter in pod mode and unable to detect my GKE cluster"
We have a GKE cluster in our GCP cloud.

I ran kube-hunter in pod mode i.e using the `--pod` option. It failed to detect the cluster.

Then I used the `--interface` option. Again, it failed to detect the cluster.

Finally, I used both `--interface` and `--k8s-auto-discover-nodes` flags together. It managed to discover and list down all the nodes within the cluster. However, it says - no vulnerabil

[2022-01-17 14:15] danielsagi commented on #486
Hi, what network plugin do you use in your deployment?
Also could you attach your complete output?

[2022-01-18 17:08] revshell0 commented on #486
We use _Calico_ for our K8s deployments, and our service mesh is _Istio_.

Below is the entire kube-hunter output (I have modified the IPs slightly for security reasons, everything else is as is).

[code]

[2022-01-19 15:43] danielsagi commented on #486
Thanks, another question. When you are running as a pod in the cluster. Do you see the same output?

[2022-01-19 18:31] revshell0 commented on #486
Below is the output I got for using `--pod` and `--log DEBUG` flags. (Heads-up: I have again modified the IPs and masked certain values for security reasons.)

[code]

[2022-01-20 17:34] revshell0 commented on #486
Hey @danielsagi, did you get a chance to go through the output? Were you able to figure out what went wrong? I look forward to hearing from you soon. Thanks.

[2022-01-22 13:29] danielsagi commented on #486
Hi @revshell0 .
Thank you for the output! It does seems like there is a bug in the metadata api scanning. which seems to cause the lack of vulnerabilities found.

I'm looking at it and will update you soon for a quick fix.

[2022-01-22 13:56] #486 closed

[2022-01-22 14:02] danielsagi commented on #480
Hi @moritzluedtke
Answering your questions:
1. They way kube-hunter works is by first categorizing k8s apis and then reassuring them as what they truly are. it seems like it could do it. (if you could attach a run with `--log debug` flag I could help you figure out why this happend)
2. Starting from #482 . We made cve hunting optional. this means if you want to see CVE results you need to pass the

[2022-01-22 14:03] #480 closed

[2022-01-22 14:04] danielsagi commented on #479
Hi @mrrobothack1
Sorry for the late response. take a look at #486 see if the PR fixed your problem :)

[2022-01-22 14:04] #479 closed

[2022-01-22 14:31] danielsagi commented on #486
A new version is now available:
https://github.com/aquasecurity/kube-hunter/releases/tag/v0.6.4

If your problem continues, please reach out and reopen :)

[2022-01-28 16:52] danielsagi opened #490 "Create tests for custom hunting feature"
## What would you like to be added
Following #489 . we need tests to be implemented for this.

Essentially setting a custom config with an empty `config,core_hunters`. and allowing a new hunter with the `config.custom`.
Then assert the `handler.hooks` to see only this hunter is registered.

[2022-03-21 07:23] nilesh-akhade opened #493 "Support cr8escape/CVE-2022-0811 New Vulnerability in CRI-O Container Engine"
## What would you like to be added

New hunter module should be able to detect if the cluster is affected by cr8escape

Introduce new hunter modules that perform additional tests to detect container runtime and know if it is vulnerable.

## Why is this needed

A local attacker could exploit this vulnerability to take control of an affected Kubernetes environment that use CRI-O runtime containers.

[2022-03-21 07:28] nilesh-akhade commented on #493
Feel free to guide me to contribute, if this issue is valid.

[2022-03-22 16:22] pegasusgh opened #494 "Use of scapy and possible Apache-GPL license conflict"
kube-hunter is licensed under Apache 2.0.  kube-hunter includes scapy.  scapy is licensed under GPL 2.0.  According to https://www.apache.org/licenses/GPL-compatibility.html, there is a license conflict.  How does the kube-hunter project work around/through this?

[2022-04-03 16:51] danielsagi commented on #494
Hi @pegasusgh . Thanks for raising this issue! kube-hunter did not work around the license conflict. but we are moving the problematic code under a new project.

[2022-04-05 13:09] karthiksiva-github opened #496 "Dependency on deprecated read-only-port ( 10255 ) to collect information."
## What are you trying to achieve

Kube-hunter relies on the port numbers for scan and provides the detailed information. Out of many port-numbers it scans(8001, 8080, 10250, 10255, 30000, 443, 6443, 2379) one such port number is read only port i.e., 10255 wherein as per the documentation it states that
_**--read-only-port int32     Default: 10255**
The read-only port for the kubelet to serve on w

[2022-04-07 19:52] pegasusgh commented on #494
Thank you for the confirmation, @danielsagi .  Is there a timeframe for moving the code licensed under GPL?  Does the project exist so that it can be followed by those interested?

[2022-04-18 13:11] karthiksiva-github opened #498 "Exit code handling for "Kube Hunter couldn't find any clusters""
## What are you trying to achieve

When the kube-hunter couldn't find any clusters to scan , it exits with exit-code 0 instead it should exit with non-zero exit code. Kindly share your thoughts on this.

## Example

bash-4.4# kube-hunter --remote 127.0.0.1 --report plain
2022-04-18 13:09:48,351 INFO kube_hunter.modules.report.collector Started hunting
2022-04-18 13:09:48,351 INFO kube_hunter.modul

[2022-04-28 06:25] karthiksiva-github opened #499 "Evidence Field doesn't show all the affected pods based on the count.It displays only one pod details."
### What happened

Evidence field doesn't show all the affected pods rather it shows only the count and only one pod details.
`+--------+----------------------+----------------------+----------------------+----------------------+----------------------+
| ID     | LOCATION             | MITRE CATEGORY       | VULNERABILITY        | DESCRIPTION          | EVIDENCE             |
+--------+-----------

[2022-05-07 06:09] #494 closed

[2022-05-07 06:29] #433 closed

[2022-05-07 06:47] danielsagi commented on #433
Sorry for the delay, Merged :)

[2022-05-10 13:21] iElephant opened #502 "kube-hunter v0.6.7: "Configuration is not initialized" when running kube-hunter in container"
### What happened

Trying to run the latest docker image (v0.6.7) and get the "Configuration is not initialized" error:

[code]
The previous version works fine:

[code]

### Expected behavior

The kube-hunter should run in docker containers.

[2022-05-10 19:43] mac-chaffee commented on #502
Looks like this commit is the culprit since the CI checks failed with the same error: https://github.com/aquasecurity/kube-hunter/commit/6c4ad4f6fd645816dd4468db22307b092516cd76

[2022-05-11 04:37] Mayurmaheshwari96 opened #503 "Integration Kube-hunter on RKE Cluster"
How can I integrate the Kube-hunter with the Rancher in a way that if any cluster is created on that rancher then it automatically available on it and check it?

[2022-05-11 10:34] danielsagi commented on #502
Thanks for commenting about this. Seems like the image tag was not updated correctly. This was fixed shortly after In the main branch. In the meantime you can use the previous version, I will override the tag with the fixed version!

[2022-05-12 18:17] aizada92 opened #505 "Configuration is not initialized" when running kube-hunter in cluster"
### What happened
I am getting this error: Trying to run inside a cluster ,created cronjob.yaml,and job that will run kube-hunter in a pod.Pod is not running and the logs showing  "Configuration is not initialized" error:
[code]

[2022-05-12 19:12] #505 closed

[2022-05-12 21:07] danielsagi commented on #502
Hi this is fixed now. v0.6.8 is now stable

Take a look at #506 for more details

[2022-05-12 21:07] #502 closed

[2022-05-13 00:30] rhtenhove opened #507 "Pinned image not updated nor set correctly in docker hub"
### What happened

After merging #504, nothing seemed to happen what was expected.

### Expected behavior

- The new image on Docker Hub would be tagged `v0.6.8`
- The job manifest tag would be updated with `v0.6.8` as well.

### Actual behaviour

- A new image with tag `0.6.8` was pushed to Docker hub
- The job manifest is still at v0.6.7

Now the manifest won't work at all.

### Needed changes

[2022-05-13 00:38] rhtenhove commented on #507
Just read in the documentation of `crazy-max/ghaction-docker-meta@v3` that we're supposed to use `{{raw}}` instead of `{{version}}`, although `kube-bench` doesn't do that either.

Hopefully someone working on both projects can elaborate :)

[2022-05-13 09:48] danielsagi commented on #507
Hi, the v0.6.8 came out before this PR was merged. meaning the action didnt run.
Further releases should be affected though.

[2022-05-13 09:48] #507 closed

[2022-06-03 11:13] martbhell opened #512 "discover: kubectl.py does not find kubectl"
### What happened

kube-hunter could not find kubectl

### Expected behavior

I expect that it should, but maybe that functionality isn't used anywhere?

PR proposing a fix: https://github.com/aquasecurity/kube-hunter/pull/511

[2022-06-07 15:07] perezjasonr opened #513 "Striking balance with K8s Network Policies"
We rolled out some network policies which has basic namespace isolation and believe its possible that kube-hunter job/pod is being hindered by this. If so, what is the expectation of a cluster with network policies and how does one strike a balance. Obviously, we dont just want to open up pathways because finding vulns is a bad thing and I'd think blocking said functionality is working as intended

[2022-06-07 15:45] perezjasonr commented on #513
logs look something like this

[code]

but if it can do that, wont it say stuff like this?

[code]

whereas I would think blocking that is a success.

[2022-07-07 08:44] Al4DIN opened #514 "Kube-hunter vulnerability scanner Algorithm?"
## What are you trying to achieve

I'm working on an MlOps pipeline for a computer vision use case, and I'm currently deploying my bricks on kubernetes but I had the reflexion to think about my cluster security since it will be applied for image classification so I need to be sure that all my components are well configured.
I found out kube-hunter on an online article and was a "quick win" to get

[2022-07-25 12:40] tanmaypandey7 opened #515 "Kube hunter fails when testing Rancher cluster."
### What happened
Ran kube-hunter on Rancher cluster.
Got an 404 Not Found error for CIDR.
![image](https://user-images.githubusercontent.com/36691630/180777431-63d571fc-fe55-4000-b532-2300925ceacf.png)
I am using kube-hunter 0.6.5 image and Rancher is running on k8s 1.23.

### Expected behavior
The test should run successfully.

The execution starts from [here](https://github.com/aquasecurity/kub

[2022-07-28 14:48] 06kellyjac opened #516 "netifaces needs a maintainer"
### What happened

Since 2021-05-31 netifaces has been marked as needing a maintainer and at some point since then the repo has been marked as archived

kube-hunter might need to move to a different library or maintain netifaces

ifaddr has what seems to be a small subset of the functionality but can't grab the "default" interface

https://github.com/pydron/ifaddr/issues/41

[2022-07-29 07:18] newtondev commented on #516
Hi @06kellyjac

Another nice network library to try out is pyroute2: https://github.com/svinota/pyroute2

[code]

[2022-08-01 13:01] tanmaypandey7 opened #517 "Number of vulnerabilities shows up as zero even when there is a vulnerability."
### What happened
Ran kube-hunter on a multi master cluster. Got this issue -
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/36691630/182153614-eb4defb9-07ab-4b5f-b9ad-fb2def97942e.png">

This is related to this issue - https://github.com/aquasecurity/kube-hunter/issues/515 regarding the AWS Metadata Exposure one.

### Expected behavior
Number of vulnerabilities shoul

[2022-08-25 18:31] #516 closed

[2022-10-05 08:24] petar-nikolovski-cif opened #521 "Dispatch fails by sending unprocessable entity 422"
### What happened

When using kube-hunter with --dispatch http and --report json our API fails with 422 unprocessable entity. This is because this piece of code in the [dispatcher][1]:

[code]

is sending a string instead of a dictionary for `json` argument. That is [JSONReporter][2] class should not use `json.dumps` method:

[code]

[1]: https://github.com/aquasecurity/kube-hunter/blob/7c62cc21af

[2022-10-06 09:16] cosad3s opened #522 "With release: "error while loading shared libraries: libz.so.1: failed to map segment from shared object""
### What happened

I downloaded the last release of kube-hunter: https://github.com/aquasecurity/kube-hunter/releases/tag/v0.6.8.

On launching on my remote machine, I get the error: `./kube-hunter: error while loading shared libraries: libz.so.1: failed to map segment from shared object`

### Expected behavior

Successfull launch.

### Notes

- Python version: 3.6.8
- Machine not connected to Int

[2022-10-06 09:31] newtondev commented on #522
To resolve this issue, please try one of the following two available methods.

Remount /TMP with exec permissions using this command:
`sudo mount /tmp -o remount,exec`

OR

Set the TMP directory to a different directory where you can add exec permissions:
`TMP=/home/<username>/<directory>`

OR

`sudo mount /tmp -o remount,exec`
Put `export TMPDIR=$HOME/tmp` on the `~/.bashrc` file

[2022-10-06 20:05] #522 closed

[2022-10-17 20:37] kuzmavictor opened #523 "Please provide more information about running `kube-hunter` with a `ServiceAccount` for remote access (is it possible) and describe more of the kube-hunter API (e.g. what arguments can be passed when starting a job)"
1. I want to use Kube-hunter along with a token obtained using a service account for remote access to the nodes of the EKS cluster. Is it possible? If so, where can I see a detailed guide?

2. What arguments can be given for creating a job to run Kube hunter on a pod? (Where are the parameters that can be passed to `  args: `  described ?).

 I need this to display logs in a different format.

[co

[2022-11-02 21:21] hitesh-dev19 opened #524 "Kube hunter is not working as expected when using --kubeconfig"
## I am trying to scan the cluster using kubecons

  I gave the command --kubeconfig /location/of/kubeconfig/file --k8s-auto-discover-nodes --pod, it's always scanning the hsot kubernetes nodes, if I don't specify --pod flag seeing the error Kube Hunter couldn't find the clusters.
 I have the right valid kubeconfig file.

 Can you please help me, I have to run this on multiple clusters.

[2022-11-03 07:21] 0yaney0 opened #525 "The The URL in ReadMe is invalid."
### What happened

### Expected behavior

[2022-11-07 10:32] immakavi opened #526 "How to get version of kube-hunter"
Using kube-hunter binary file to run scans.  I need to print or get kube-hunter version I am running (NOTE: In my organization central team is responsible to get binaries to intra-net so we could download )

When I checked the documentation and source code, could not find a way to get current version of kube-hunter.

## What are you trying to achieve

To print or log kube-hunter version from kube-

[2022-11-11 03:08] 0yaney0 opened #527 "The correct number of nodes in the k8s cluster cannot be listed."
### What happened

 I ran `kubectl get nodes` to list  nodes and there was 1 node in my cluster.
[code]
And then I ran `./kube-hunter.py --k8s-auto-discover-nodes --kubeconfig /root/.kube/config`to auto discover node in k8s cluster but there were 2 nodes in node table(ps:kube_hunter.modules.discovery.kubernetes_client Listed 1 nodes in the cluster).However `k8s` was the hostname of `192.168.1.133`

[2022-11-27 21:24] domenjesenovec commented on #526
Same issue here. We need a way to print out the version of the kube-hunter running to produce the list of containers we run in our clusters. Adding a simple --version flag would do the job.